@import "variables";
@import "mixins";
@import "fonts";
@import "colors";
 
@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

header{
    background-color: $second-color;
	background-image: url($header-image-1);
	background-repeat: no-repeat;
  	background-position: top center;
  	background-size: 100%;

    .title_box{
        /*
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        margin-left: -$m_5_1;
        background-color: $white-color;
        @include calc(left, "50% + "+($m_12_1/2));
        */
        background: white;
        height: $m_5_1;
        position: relative;

        
        .pagetitle{
            position:relative;
            @include ts_page_title();
            margin-left: $m_2_4;
            bottom:$m_2_4;
            line-height: 100%;
        }
    }
}

.headimage{
	height: $module-size * 4;
    display: flex;
    justify-content: center;
    position: relative;

    .content{
            width:$m_12_1;
            display: flex;
            align-items: center;
            margin-top:$m_2_4;    
    }



}


main{
    .content{

        section{
            display: flex;
            justify-content: space-between;
        }
        article{
            width: $m_2-5_1;    
        }

        h3{
            margin-bottom: $m_1_4;
        }

        img{
            width: 100%;
            margin-bottom: $m_1_4;
        }
    }
}