
/*
Theme Name: Free the Falls
Theme URI: 
Author: 
Author URI: 
Description: 
License: 
License URI: 
Tags: 
Text Domain: 

*/

/*
| header
| 	
|https://css-tricks.com/snippets/css/a-guide-to-flexbox/
|
|
|
|
|

*/
.title-container{
	background: $white-color;
}





//--------------------------------------------- Variables -------------------------------





/*--------------------------------------- common ---------------------------------------*/

h1,h2, h3, h4, h5, p, title, div,body, ul, li, table, td, tr,button,section,a{
	padding: 0px;
	margin:0px;
	background: none;
	border:none;
	list-style-type: none;
	line-height: 100%;
	text-transform:none;
	text-decoration: none;
}


p > a{
	font-family: $ffont-1;
	color: $first-color;
	text-transform:none;
	text-decoration: none;
	cursor: pointer;
}

p > a:hover{
	text-decoration: underline;
}

p,li{
	@include ts_text();	
}

p{
	margin-bottom:$m_1_4;
}

blockquote{
	font-style: italic;
	margin-bottom: $m_1_2;
}





h3{
	@include ts_post_title(); 
}

label{
	@include ts_label();
}

input{
	height: $m_1_4 * 1.5;
	@include form-standards();
}

textarea{
	@include form-standards();
}

 

button,.button{
	@include ts_label();
	height: $m_1_4*1.5;
	padding-right: ($module-size / 10);
	padding-left: ($module-size / 10);
	background: $first-color;
	color:$white-color;
	cursor: pointer;
	border-radius: $m_1_16;
}

button:hover{
	opacity: .8;
	border-radius: $m_1_4;
}

//------------------------------------- Layout --------------------------------------






main{	/*
	display: flex;
	justify-content: center;*/

	.title,.title a{
        @include ts_post_title();
        margin-bottom: $m_1_16;
		
    }

    .date{
        @include ts_date();
        
        margin-bottom: $module-size / 16;
    }
    .text{
        @include ts_text();
    }
    .image{
        width: $module-size * 2;
        float: left;
        display: inline-block;
        margin: 0 ($module-size /4 ) 0 0;      
    }
	.subpage-title,.subpage-title a{
		@include ts_subpage_title();
		margin-bottom:$m_1_2;
	}

	h3 a{
		&:hover{
			color: $first-color;
		}
	}	

	a{
		@include ts_text();
		color:$first-color;
		&:hover{
			color:$black-color;
		}
	}
}



main > .content{
	box-sizing: border-box;
	width: $m_8_1;
}




.imagelegend{
	font-family: $ffont-1;
	$text-transform: uppercase;
	color:$dark-grey;

	font-size: $font-size - 3;
	display: block;
}





//-------------------------------------------- header  -------------------------------------

header{
	.logo{
		height: ($m_1_4) * 5; 
	}
}

nav{

	height: $m_1_2;
	//background: transparentize($white-color, 0.2) ;
	background: rgba(255,255,255, 0.7) ;
	width: 100%;

	z-index: 100;
	position: fixed;

		.logo{ 
			opacity: 0;
			height: $m_1_3 ;
			position:relative;

		}
		&.over{
			height:$m_1_1;
			display: inline-block;
			box-sizing: border-box;
			border-bottom-width: 3px;
			border-bottom-color: transparent; 
			border-bottom-style: solid;			
		}	

		&.collapse{
			background: rgba($white-color,1);
			@include box-shadow(1px, 0, 5px, rgba($black-color,0.1)) ;

			.logo{
				opacity: 1;
			}
		}	

	.container{

		width: $m_8_1;  	
		//display: flex;
		@include flexbox();
		@include justify-content(center); 
		@include align-items(center);
		//align-items: center;
		//justify-content: center;
		margin: 0 auto;

		ul{	
			margin-left: $m_1_2;
			margin-top: 0px;
		}	
		
	}


	.menu-ftf-container{

		>.menu{
			>li a{
				justify-content: center;
				align-items: center;
			}
			>li > a:hover,
			>li > a:focus {
				color: $black-color;
				background: none; 
			}

			> li{
					@include inline-block();
					position: relative;	
					height: 100%;
					//-moz-height: $m_1_2;  
					@-moz-document url-prefix() {
						height: $m_1_2;
					}					
 
			} 

			>li:hover{
				@include inline-block();
				border-bottom-width: 3px;
				border-bottom-color:$second-color; 
				border-bottom-style: solid;
				background: transparentize($white-color, 0.2) ; /* #fb usar uma animacao */ 
				@-moz-document url-prefix() {
					height: $m_1_2+$m_1_4;
				}					
				//
			}

			a{ 
				text-decoration: none !important;
				display: flex;
				justify-content: center;
				align-items: center; 
				height: 100%;
				font-family: $ffont-1;
				text-transform: uppercase; 
				color:$dark-grey;
				font-weight: light;
				font-size: $font-size - 2px;
				padding: 0 $m_1_8;
			}			

		}



	}
	

 
	.menu .sub-menu{
		position: absolute;
		top:$m_1_1;
		left:-48px;
		width:$m_1_1 + ($m_1_1/2);
		//visibility: hidden;
		background: transparentize($white-color, 0.05) ;
		
		li{
			display: block;
			height: $m_1_2;
		}

		a:hover{
			background: $white-color;
		}

	}

}





/*
nav:hover{
	height:$m_1_2 + $m_1_4;
}
*/



/*
nav a:hover{
	height: $m_1_2+$m_1_4; 
}
*/



//---------------------------------------------- footer -------------------------


footer{
	background: $middle-grey;
	margin-top: $m_1_2;
	height: $module-size;
	display: flex;
	align-items: center;
	

	.container{
		margin:auto;
		width:$m_12_1;
		@include flexbox();
		//display:flex;
		//align-items: center;
		@include align-items(center);
		@include justify-content(space-between);
		//justify-content: space-between;
		

		.logo{
			height: $m_1_4 * 2;
		}

		.menu{
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);			
			
			.menuhome{
				display: none;
			}

			li, li a{
				padding: 0 $m_1_16;
				@include ts_text();
				font-weight: bold;
				color:$dark-grey;

				&:hover{
					color:$black-color;
				}

			
			}
			

		}

		.copyright{
			@include ts_text();
			margin-left: $m_1_2; 
		}


	}


	
}
 

/*- - - - - - - - - Event - - - - - - - - - */


.timeevent{

	width: $m_1_1;
	height: $m_1_1 + $m_1_4;

	.month{
		@include myfont($ffont-1,22,$dark-grey,100);
		text-align: center;
		display: block; 
		text-transform: uppercase;
	}

	.day{
		@include myfont($ffont-1,88,$first-color,300);	
		/*88*/
		// letter-spacing: -12px;
		letter-spacing:100%;
		text-align: left;
		margin-left: -5px;
		display: block;
		line-height: 89px;
		//precisa melhorar isso aqui!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	
	}

	.hour{
		@include myfont($ffont-1,12,$dark-grey,100);
		text-align:center;
		display: block;
	}

	.information{
		width: $module-size * 1.2;/*
		top:$module-size /2 + $module-size /4;
		left:$module-size + $module-size /4 ;*/
	}

	.eventname{
		@include myfont($ffont-1,18,$dark-grey,900);
		display: block;
		line-height: 25px;
		//precisa melhorar isso !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	}

	.place{ 
		@include myfont($ffont-1,14,$dark-grey,100);
		margin-top: $module-size/16; 
		display: block;
	}

	.moreinfo{
		@include ts_text();
		margin-top: $m_1_8;        
	}

	.readmore{
		display: block;
		text-align: right;     
	}        

}