/* color */

//$first-color: #e40000;
$first-color: #b60000;
$second-color: #fed700;
$white-color: #ffffff;
$dark-grey: #333333;
$light-grey: #f7f7f7;
$middle-grey:#cccccc;
$black-color: #000000;
$idle:#cccccc;
$almost-white:#fefefe;