/*
Theme Name: Free the Falls
Theme URI: 
Author:       
Author URI:  
Description:          
License:     
License URI:    
Tags:      
Text Domain:       
     
*/
 
html,
body {   
    height: 100%; 
} 

.title-container {
    background: $white-color; 
} 

@import "common_htmltags"; 
@import "common_header"; 
//@import "common_menu";
@import "common_main"; 
@import "common_footer"; 
@import "common_event";
@import "common_structure";            