footer {
    background: $middle-grey;
    .container {
        //   height: $m_2_1;
        .logo {
            height: $m_1_4 * 2;
        }
        .footer_menu {
            .menu {
                @include flexbox();
                @include align-items(center);
                @include justify-content(space-between);
                .menuhome {
                    display: none;
                }
                li,
                li a {
                    padding: 0 $m_1_16;
                    @include ts_text();
                    font-weight: bold;
                    color: $dark-grey;
                    &:hover {
                        color: $black-color;
                    }
                }
            }
        }
        .copyright {
            @include ts_text();
            margin-left: $m_1_2;
        }
    }
}