main {
    /*
	display: flex;
	justify-content: center;*/
    .title,
    .title a {
        @include ts_post_title();
        margin-bottom: $m_1_16;
    }
    .date {
        @include ts_date();
        margin-bottom: $module-size / 16;
    }
    .text {
        @include ts_text();
    }
    .image {
        @include respond-to(hh) {
            width: 100%;
            height: auto;
        }
        @include respond-to(ms) {
            width: 100%;
            height: auto;
        }
        @include respond-to(ws) {
            width: $module-size * 2;
            float: left;
            display: inline-block;
            margin: 0 ($module-size /4) 0 0;
        }
    }
    .subpage-title,
    .subpage-title a {
        @include ts_subpage_title();
        margin-bottom: $m_1_2;
    }
    h3 a {
        &:hover {
            color: $first-color;
        }
    }
    p a {
        @include ts_text();
        color: $first-color;
        &:hover {
            color: $black-color;
        }
    }
}

main>.container {
    //	box-sizing: border-box;
    //	width: $m_8_1;
    min-height: 500px;

}

.imagelegend {
    font-family: $ffont-1;
    $text-transform: uppercase;
    color: $dark-grey;
    font-size: $font-size - 3;
    display: block;
}