.social {
    height: $m_1_2;
    position: fixed;
    top: 0px;
    right: 0px;
    width: $m_2_1;
    opacity: 1;
    z-index: 1000;
    text-align: right;
    li,
    a {
        &:hover { 
            cursor: pointer;
        }
        width: $m_1_2;
        height: $m_1_2;
        display: inline-block;
        img {
            width: $m_1_2;
            height: $m_1_2;
            fill: $second-color;
        } 
        img:hover {
            cursor: pointer;
        }
    } 
}
  
@include respond-to(hh) {

    header {
        display: block !important; 
        // height:$m_4_1;
        position: relative;
        .main_logo {
            width: 40%;
            margin:$m_1_3;
        }
    }
    nav.nav_desktop {
        display: none;
    }
    .header-container {
        height:100px;
    }
    nav.nav_mobile {
        .logo_container {
            position: fixed;
            height: $m_1_2;
            z-index: 1000;
            background: $white-color; 
            width: 100%;
            @include flexbox();
            @include justify-content(center);
            @include align-items(center);
            top: 0px;
            .logo {
                height: $m_1_3;
                display: block;
                margin: auto;
                padding: $m_1_16;
            }
        }
        .container {
            .menu-ftf_mobile-container {
                // height: $m_2_1 + $m_1_2;
                margin-top: $m_1_2;
                ul {
                    display: block;
                    opacity: 1;
                    background: $light-grey;
                    margin: auto;
                    li {
                        //height: $m_1_4 ;
                        text-align: center;
                        padding: $m_1_16;
                        &:hover {
                            background: $second-color;
                        }
                        a {
                            color: $black-color;
                        }
                    }
                }
            } // end .menu-ftf_mobile-container
            .mobilemenu_hide {
                opacity: 0;
                height: 0px;
            }
        } // end container
    }

}

@include respond-to(ms) {
    header {
        display: block !important;
        // height:$m_4_1;
        position: relative;
        .main_logo {
            width: 40%;
            margin:$m_1_3;
        }
    }

    .header-container {
        height:220px;
    }

    nav.nav_desktop {
        display: none; 
    }

    nav.nav_mobile {
        .logo_container {
            position: fixed;
            height: $m_1_2;
            z-index: 1000;
            background: $white-color;
            width: 100%;
            @include flexbox();
            @include justify-content(center);
            @include align-items(center);
            top: 0px;
            .logo {
                height: $m_1_3;
                display: block;
                margin: auto;
                padding: $m_1_16;
            }
        }
        .container {
            .menu-ftf_mobile-container {
                // height: $m_2_1 + $m_1_2;
                margin-top: $m_1_2;
                ul {
                    display: block;
                    opacity: 1;
                    background: $light-grey;
                    margin: auto;
                    li {
                        //height: $m_1_4 ;
                        text-align: center;
                        padding: $m_1_16;
                        &:hover {
                            background: $second-color;
                        }
                        a {
                            color: $black-color;
                        }
                    }
                }
            } // end .menu-ftf_mobile-container
            .mobilemenu_hide {
                //The following commented parameters are to avoid menu animation on mobile state 
                // opacity: 0;
                // height: 0px;
            }
        } // end container
    }
}

@include respond-to(ws) {
    header {
        .main_logo {
            width: $m_3_1;
        }
    }
    nav.nav_mobile {
        display: none;
    }
    nav.nav_desktop {
        height: $m_1_2;
        width: 100%;
        position: fixed;
        background: rgba(255, 255, 255, 0.7);
        z-index: 100;
        .logo {
            height: $m_1_3;
            position: relative;
        }
        &.over {
            height: $m_1_1;
        }
        .logo {
            opacity: 0;
        }
        &.over {
            display: inline-block;
            box-sizing: border-box;
            border-bottom-width: 3px;
            border-bottom-color: transparent;
            border-bottom-style: solid;
        }
        &.collapse {
            background: rgba($white-color, 1);
            @include box-shadow(1px, 0, 5px, rgba($black-color, 0.1));
            .logo {
                opacity: 1;
            }
        }
        .container {
            ul {
                margin-left: $m_1_2;
                margin-top: 0px;
            }
        }
        .menu-ftf-container {
            >.menu {
                >li a {
                    justify-content: center;
                    align-items: center;
                }
                >li>a:hover,
                >li>a:focus {
                    color: $black-color;
                    background: none;
                }
                >li {
                    display: inline-block;
                    position: relative;
                    height: 100%;
                }
                >li:hover {
                    border-bottom-width: 3px;
                    border-bottom-color: $second-color;
                    border-bottom-style: solid;
                    background: transparentize($white-color, 0.2);
                    /* #fb usar uma animacao */
                    //height: $m_1_2+$m_1_4;  
                }
                a {
                    text-decoration: none !important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    font-family: $ffont-1;
                    text-transform: uppercase;
                    color: $dark-grey;
                    font-weight: light;
                    font-size: $font-size - 2px;
                    padding: 0 $m_1_8;
                }
            }
        }
        .menu .sub-menu {
            position: absolute;
            top: $m_1_1;
            left: -48px;
            width: $m_1_1 + ($m_1_1/2);
            //visibility: hidden;
            background: transparentize($second-color, 0.05);
            li {
                display: block;
                height: $m_1_2;
            }
            a:hover {
                background: $white-color;
            }
        }
    }
} //end respond-to ws