@mixin transition($args...) {
    //tem que colocar os 3 pontos
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin rotate($args) {
    -webkit-transform: rotate($args);
    -moz-transform: rotate($args);
    -ms-transform: rotate($args);
    -o-transform: rotate($args);
    transform: rotate($args);
}

//setting up params
$transition_time: 0.3s;
$transition_way: ease;
$out-height: 50px;
$over-height: 120px;
//
//
//
.logo {
    width: 40px;
    height: 40px;
    opacity: 0;
    @include rotate(0deg);
    @include transition(opacity $transition_time $transition_way, transform $transition_time $transition_way)
}

.menu-over-collapse {
    .logo {
        opacity: 1;
        @include rotate(360deg);
    }
}

.nav_desktop {
    display: table-cell;
    vertical-align: middle;
    height: $out-height;
    @include transition(height $transition_time $transition_way);
    .navbar-nav li,
    .navbar-nav a,
    {
        height: $out-height;
        display: table-cell;
        vertical-align: middle;
        @include transition(height $transition_time $transition_way);
    }
    .navbar-header img.logo {
        //height: 40px;
        display: table-cell;
        vertical-align: middle;
        //  @include transition(height $transition_time $transition_way, transform $transition_time $transition_way);
        padding: 11px;
        box-sizing: border-box;
    }
}

.nav_desktop.menu-over {
    a,
    li,
    {
        display: table-cell;
        vertical-align: middle;
        height: $over-height;
    }
    .navbar-header img {
        display: table-cell;
        vertical-align: middle;
        height: $over-height;
        //padding: 19px;
    }
    display: table-cell;
    vertical-align: middle;
    height: $over-height;
}

.menu-over {
    .navbar-header img {
        box-sizing: border-box;
        margin-top: 0;
        margin-bottom: 0;
    }
}