
$mobile_width: 180%;

//#track
header{
 
    .header-container{
        @include respond-to(hh){
            // display: none !important;
        }
        @include respond-to(ms){
            // display: none !important;
        }
        @include respond-to(ws){}
    }


    .container{
        @include respond-to(hh){

        }
        @include respond-to(ms){
            width: 100%;    
        }
        @include respond-to(ws){
            width: $m_8_1;  	
            @include flexbox();
            @include justify-content(center); 
            @include align-items(center);
            margin: 0 auto;
        }// end respond-to ws

    }



}
 

main{
    >.container{
 
        @include respond-to(hh){
            width:80%;
            margin:5% auto;
        }
        @include respond-to(ms){
             width:80%;
            margin:5% auto;        
        }
        @include respond-to(ws){width: $m_8_1;}
		
	}
}

footer{
    margin-top: $m_1_2;
	height: $module-size;
	display: flex;
	align-items: center;
    @include respond-to(hh){display: none !important;}
    @include respond-to(ms){display: none !important;}
    @include respond-to(ws){}  

    >.container{
        margin:auto;
		width:$m_12_1;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);



    }    
}