h1,
h2,
h3,
h4,
h5,
p,
title,
div,
body,
ul,
li,
table,
td,
tr,
button,
section,
a {
    padding: 0px;
    margin: 0px;
    background: none;
    border: none;
    list-style-type: none;
    line-height: 100%;
    text-transform: none;
    text-decoration: none;
}

p {
    margin-bottom: $m_1_4;
    @include ts_text();
    br {
        content: "";
        margin: $m_1_4;
        display: block;
        font-size: 24%;
    }
}

li {
    @include ts_text();
}

p,
li {
    a {
        font-family: $ffont-1;
        color: $first-color;
        text-transform: none;
        text-decoration: none;
        cursor: pointer;
    }
    a:hover {
        text-decoration: underline;
    }
}

blockquote {
    font-style: italic;
    margin-bottom: $m_1_2;
}

h3 {
    @include ts_post_title();
}

label {
    @include ts_label();
}

input {
    height: $m_1_4 * 1.5;
    @include form-standards();
}

textarea {
    @include form-standards();
}

button,
.button {
    @include ts_label();
    height: $m_1_4*1.5;
    padding-right: ($module-size / 10);
    padding-left: ($module-size / 10);
    background: $first-color;
    color: $white-color;
    cursor: pointer;
    border-radius: $m_1_16;
}

button:hover {
    opacity: .8;
    border-radius: $m_1_4;
}