.event_item {
    // width: $m_1_1;
    // height: auto;
    .container {
        & {
            @include flexbox();
        }
    }
    .information {
        & {
            width: $m_3_1;
            margin-left: $m_1_4;
        }
        .eventname {
            display: block;
        }
        .place {
            @include myfont($ffont-1, 14, $dark-grey, 300);
            margin: 8px 0px;
            display: block;
            @include flexbox();
            @include align-items(center);
            .ico_pin {
                height: 15.724px;
                width: 11.595px;
            }
            span {
                margin-left: $m_1_8;
                @include myfont($ffont-1, 12, $dark-grey, 300);
            }
        }
        .moreinfo {
            font-size: 11px !important;
        }
        .readmore {
            font-size: inherit !important;
        }
    }
}

.timeevent {
    & {
        width: $m_1_1;
        /*guenta*/
    }
    .month {
        @include myfont($ffont-1, 22, $dark-grey, 300);
        text-transform: uppercase;
        text-align: center;
        display: block;
    }
    .day {
        @include myfont($ffont-1, 78, $first-color, 300);
        @include respond-to(hh) {}
        @include respond-to(ms) {}
        @include respond-to(ws) {}
        text-align: center;
        display: block;
        line-height: 100%;
    }
    .hour {
        @include myfont($ffont-1, 11, $dark-grey, 300);
        text-align: center;
        display: block;
    }
}