

//https://css-tricks.com/snippets/css/a-guide-to-flexbox/
//https://gist.github.com/richardtorres314/26b18e12958ba418bb37993fdcbfc1bd/


@import "flexbox"; 



@mixin inline-block {
	display: -moz-inline-stack;	// ff 2
	display: inline-block;
	zoom:1; *display: inline; _height: 15px; // ie 6-7
}  