/* fonts */

//https://www.fontsquirrel.com/tools/webfont-generator
// @font-face {
//     font-family: 'Oleo';
//     src: url('font-oleo/oleoscript-bold-webfont.woff2') format('woff2'), url('font-oleo/oleoscript-bold-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'latoblack';
//     src: url('font-lato/lato-black-webfont.woff2') format('woff2'), url('font-lato/lato-black-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'latoblack_italic';
//     src: url('font-lato/lato-blackitalic-webfont.woff2') format('woff2'), url('font-lato/lato-blackitalic-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'latobold';
//     src: url('font-lato/lato-bold-webfont.woff2') format('woff2'), url('font-lato/lato-bold-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'latobold_italic';
//     src: url('font-lato/lato-bolditalic-webfont.woff2') format('woff2'), url('font-lato/lato-bolditalic-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'latohairline';
//     src: url('font-lato/lato-hairline-webfont.woff2') format('woff2'), url('font-lato/lato-hairline-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'latohairline_italic';
//     src: url('font-lato/lato-hairlineitalic-webfont.woff2') format('woff2'), url('font-lato/lato-hairlineitalic-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'latoitalic';
//     src: url('font-lato/lato-italic-webfont.woff2') format('woff2'), url('font-lato/lato-italic-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'latolight';
//     src: url('font-lato/lato-light-webfont.woff2') format('woff2'), url('font-lato/lato-light-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'latolight_italic';
//     src: url('font-lato/lato-lightitalic-webfont.woff2') format('woff2'), url('font-lato/lato-lightitalic-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'latoregular';
//     src: url('font-lato/lato-regular-webfont.woff2') format('woff2'), url('font-lato/lato-regular-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
//
//
//
//
//

/*






*/

@font-face {
    font-family: 'varela';
    src: url('font-varela/varelaround-regular-webfont.woff2') format('woff2'), url('varelaround-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$ffont-1: 'Arial'; // 'Lato', sans-serif; 
//$ffont-2: 'Oleo Script', cursive,"Times New Roman";
//$ffont-2: 'Oleo';
$ffont-2: 'Varela',
sans-serif;
//
//
//
$font-size: 13px;
@mixin myfont($font,
$size,
$color,
$weight) {
    font-size: $size;
    font-family: $font;
    color: $color;
    font-weight: $weight;
}

@mixin ts_title() {
    font-size: 45px;
    font-family: $ffont-2;
    color: $dark-grey;
    line-height: 45px;
    text-transform: lowercase;
}

@mixin ts_post_title() {
    @include respond-to(hh) {}
    @include respond-to(ms) {
        font-size: 1.5em;
    }
    @include respond-to(ws) {
        font-size: 28px;
    }
    font-family: $ffont-2;
    color:$dark-grey;
    line-height: 28px;
    font-weight: normal;
}

@mixin ts_date() {
    font-size: 14px;
    font-family: $ffont-1;
    font-weight: bold;
    color: $dark-grey;
    //    font-weight: 900;
}

@mixin ts_text() {
    @include respond-to(hh) {
        font-size: 1em;
        //  color: blue;
    }
    @include respond-to(ms) {
        font-size: 13px;
        //    color:red;
    }
    @include respond-to(ws) {
        font-size: 16px;
        //   color: green; 
    }
    font-family: $ffont-1;
    //font-weight: 300;
    line-height: 140%;
}


/*
@mixin ts_text(){
	font-size: 14px;
	font-family: $ffont-1;
	color: $dark-grey;
	font-weight: 600;
}*/

@mixin ts_label() {
    font-size: 12px;
    font-family: $ffont-1;
    color: $dark-grey;
    font-weight: 300;
    text-transform: uppercase;
}

@mixin ts_page_title() {
    
    line-height: 80%;
    font-family: $ffont-2;
    color: $first-color;
    text-transform: lowercase;

    @include respond-to(hh){
        font-size: 1em;
        
    }
    
    @include respond-to(ms){
        font-size: 2em;
    }
    
    @include respond-to(ws){
        font-size: 80px; //102
    }
}

@mixin ts_list_article_title() {
    font-size: 18px;
    font-family: $ffont-2;
    color: $black-color;
    font-weight: 900;
    font-style: italic;
    line-height: 22px;
}

@mixin ts_subpage_title() {
    color: $dark-grey;
    font-size: 36px;
    // text-transform: uppercase;
    font-style: italic;
    font-family: $ffont-2;
    font-weight: 100;
    text-decoration: none;
}

@mixin ts_detail_title() {
    font-size: 18px;
    font-family: $ffont-1;
    color: $dark-grey;
    font-weight: 900;
}