$break-small: 320px; 
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == hh {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == ms {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == ws {
    @media only screen and (min-width: $break-large) { @content; }
  }
}