@import "mediaqueries";
/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
    $shadow: ();
    $from: $stroke*-1;
    @for $i from $from through $stroke {
        @for $j from $from through $stroke {
            $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
        }
    }
    @return $shadow;
}

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
    text-shadow: stroke($stroke, $color);
}

@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}


/* borders */

@mixin border-bottom-dotted() {
    border-bottom-color: $middle-grey;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}

@mixin solid-border() {
    border-bottom-color: $second-color;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}


/* ALIGN */

@mixin align-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin transition($args...) {
    //tem que colocar os 3 pontos
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin hyphenate() {
    -ms-word-break: break-all;
    word-break: break-all;
    // Non standard for webkit
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow: inset $top $left $blur $color;
        -moz-box-shadow: inset $top $left $blur $color;
        box-shadow: inset $top $left $blur $color;
    }
    @else {
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
        box-shadow: $top $left $blur $color;
    }
}

@mixin form-standards() {
    padding: $m_1_16;
    box-sizing: border-box;
    @include ts_text();
    background: $light-grey;
    border: none;
}


/* 
header standard style 
*/

@mixin headerStandard($image:0, $size:0) {
    .header-container {

        display: flex;
        justify-content: space-between;
        $top_height: 0;

        @if $size=='small' {
            $top_height: $m_3_1;
        }
        @else {
            $top_height: $m_4_1;
        }

        height: $top_height;

        .header-image {
            @if $image=='' {
                background-image: url('../imgs/header.jpg');
            }
            @else {
                background-image: url('../imgs/header_#{$image}.jpg');
            }
            
            width: 50%;
            position: relative;
            background-repeat: no-repeat;
            background-size:cover;

            div {
                position: absolute;
                height: 100%;
                right: 0;
                display: flex;
                align-items: center;

                @include respond-to(hh){
                    
                }
                
                @include respond-to(ms){
                    justify-content: center;                    
                }
                
                @include respond-to(ws){
                    width: $m_4_1;
                }
            }
        }
        .title-container {
            position: relative;
            height: $m_4_1;
            width: 50%;
            .page-title {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                //left: $m_1_2;
                //width: $m_4_1;
                width: 100%;
                height: $top_height;
                text-align: center;
                h1 {
                    text-align: center;
                    margin-top: $m_1_2;
                    @include ts_page_title();
                }
            }
        }
    }
} //end mixin
@mixin bulletCounter() {
    @include ts_text();
    color: white;
    background: $idle;
    border-radius: $module-size/16;
    padding: 0 $module-size/32;
    display: inline-block;
    margin: 0 $m_1_16;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin transition-delay($delay...) {
    -moz-transition-delay: $delay;
    -o-transition-delay: $delay;
    -webkit-transition-delay: $delay;
    transition-delay: $delay;
}