@include respond-to(hh) {}

@include respond-to(ms) {
    .menu-ftf_mobile-container {
        @include transition(opacity $timing ease, height $timing ease);
        // @include transition-delay(0.5s);
    }
}

@include respond-to(ws) {
    nav li,
    nav .over {
        @include transition(background .5s $timing 0s);
        @include transition(height $timing);
    }
    nav a {
        @include transition(height $timing ease 0.1s);
    }
    nav {
        @include transition(background $timing ease-out, height 0.2s ease, box-shadow $timing ease-out);
        .logo {
            @include transition(opacity $timing ease);
        }
    }
    .sub-menu {
        @include transition(opacity $timing ease);
    }
    .map_location {
        @include transition(height $timing ease, opacity $timing ease);
    }
} //end respond-to ws