/* images */
$header-image-1: 'header_home_1.jpg';
$header-image-2: 'header_home_2.jpg';
$header-image-3: 'header_home_3.jpg';
$header-image-4: 'header_home_4.jpg';
$header-image-5: 'header_home_5.jpg';
 

/* sizes */
$module-relative-size: 100%/12;
$module-size:96px;
//$module-size: $module-relative-size;
$timing: 300ms;


$m_1_1: $module-size;
$m_1_3: $module-size/3;
$m_1_4: $module-size/4;
$m_2_4: $module-size/2; /*limar esse - - quando quiser, pode limar */ 
$m_1_2: $module-size/2;
$m_1_8: $module-size/8;
$m_1_16:$module-size/16;
$m_1_32:$module-size/32;

$m_2_1: $module-size * 2;
$m_2-5_1: $module-size * 2.5;
$m_3_1: $module-size * 3;
$m_4_1: $module-size * 4;
$m_5_1: $module-size * 5;
$m_6_1: $module-size * 6;
$m_7_1: $module-size * 7;
$m_4_2: $module-size * 2; /*limar esse */
$m_8_1: $module-size * 8;
$m_12_1:$module-size * 12;


/*
$m_1_4: $module-relative-size/4;
$m_2_4: $module-relative-size/2;
$m_4_2: $module-relative-size * 2;
$m_2_1: $module-relative-size * 2;
$m_5_1: $module-relative-size*5;
$m_1_8: $module-relative-size/8;
$m_1_16:$module-relative-size/16;
$m_12_1:$module-relative-size*12;

*/