@import "style";


@include headerStandard("kindred");

main{
    .container{
        @include align-center();
        width: $m_8_1;
        margin:$m_1_2 auto 0 auto;        
    } 

    form{
        label{
            min-width: $m_1_1;
            display: inline-block;
            text-align: right;
            &:nth-last-child(4){
                text-align: left;
            }
        }
        input,textarea{
            margin-bottom: $m_1_8;
        }
        textarea{
            width: 100%;
        }
        .controls{
            text-align: center;
            .button{
                clear:both;
            }
        }

    }
}