@import "style";
@include headerStandard("events", "small");
main {
    .list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .container {
        @include respond-to(hh) {}
        @include respond-to(ms) {
            width: 80%;
        }
        @include respond-to(ws) {
            width: $m_8_1;
            margin: $m_1_2 auto 0 auto;
            .event_item {
                margin: 0;
                display: flex;
                justify-content: space-between;
                @include respond-to(hh) {
                    height: auto;
                    width: 100%;
                }
                @include respond-to(ms) {}
                @include respond-to(ws) {
                    width: $m_3_1 + $m_1_2 !important;
                }
                &:nth-child(odd) {
                    margin-right: $m_1_2;
                }
                .container {
                    margin: 0px;
                }
                .eventname,
                a .eventname {
                    @include ts_list_article_title();
                    &:hover {
                        text-decoration: none;
                        color: $first-color;
                    }
                }
                .timeevent {
                    width: $m_1_1;
                    //  margin-right: $m_1_4 !important;
                }
                .moreinfotitle {
                    @include ts_label();
                }
            }
        }
    }
    .bottom_bar {
        clear: both;
        width: 100%;
        text-align: right;
    }
    .event_detail {
        @include respond-to(hh) {}
        @include respond-to(ms) {}
        @include respond-to(ws) {
            position: relative;
            @include align_center();
        }
        .timeevent {
            @include respond-to(hh) {}
            @include respond-to(ms) {
                @include flexbox();
                @include align-items(center);
                @include justify-content(center);
                width: 100%;
                display: block;
                position: static !important;
                margin-bottom: $m_1_2;
            }
            @include respond-to(ws) {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .content {
            @include respond-to(hh) {}
            @include respond-to(ms) {
                width: 100%;
            }
            @include respond-to(ws) {
                position: relative;
                top: 0;
                left: $m_1_2;
                width: $m_6_1 + $m_1_2;
            }
            div {
                @include ts_text();
            }
        }
        img {
            width: 100%;
            height: auto;
            margin-bottom: $m_1_4;
        }
        .title {
            @include ts_detail_title();
        }
        .map_location {
            background: $light-grey;
            height: 0px;
            visibility: hidden;
            opacity: 0;
        }
        .map_show {
            padding: $m_1_8;
            height: 450px !important;
            visibility: visible;
            opacity: 1;
            margin-bottom: $m_1_8;
        }
    }
    .events_past {
        .date {
            margin-bottom: 0;
        }
        .title,
        a .title {
            @include ts_list_article_title();
            margin-bottom: $m_1_4;
        }
    }
}