/* images */
/* sizes */
/*limar esse - - quando quiser, pode limar */
/*limar esse */
/*
$m_1_4: $module-relative-size/4;
$m_2_4: $module-relative-size/2;
$m_4_2: $module-relative-size * 2;
$m_2_1: $module-relative-size * 2;
$m_5_1: $module-relative-size*5;
$m_1_8: $module-relative-size/8;
$m_1_16:$module-relative-size/16;
$m_12_1:$module-relative-size*12;

*/
/* borders */
/* ALIGN */
/* 
header standard style 
*/
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 4, _transitions.scss */
  .menu-ftf_mobile-container {
    -webkit-transition: opacity 300ms ease, height 300ms ease;
    -moz-transition: opacity 300ms ease, height 300ms ease;
    -ms-transition: opacity 300ms ease, height 300ms ease;
    -o-transition: opacity 300ms ease, height 300ms ease;
    transition: opacity 300ms ease, height 300ms ease; } }
@media only screen and (min-width: 1024px) {
  /* line 11, _transitions.scss */
  nav li,
  nav .over {
    -webkit-transition: background 0.5s 300ms 0s;
    -moz-transition: background 0.5s 300ms 0s;
    -ms-transition: background 0.5s 300ms 0s;
    -o-transition: background 0.5s 300ms 0s;
    transition: background 0.5s 300ms 0s;
    -webkit-transition: height 300ms;
    -moz-transition: height 300ms;
    -ms-transition: height 300ms;
    -o-transition: height 300ms;
    transition: height 300ms; }

  /* line 16, _transitions.scss */
  nav a {
    -webkit-transition: height 300ms ease 0.1s;
    -moz-transition: height 300ms ease 0.1s;
    -ms-transition: height 300ms ease 0.1s;
    -o-transition: height 300ms ease 0.1s;
    transition: height 300ms ease 0.1s; }

  /* line 19, _transitions.scss */
  nav {
    -webkit-transition: background 300ms ease-out, height 0.2s ease, box-shadow 300ms ease-out;
    -moz-transition: background 300ms ease-out, height 0.2s ease, box-shadow 300ms ease-out;
    -ms-transition: background 300ms ease-out, height 0.2s ease, box-shadow 300ms ease-out;
    -o-transition: background 300ms ease-out, height 0.2s ease, box-shadow 300ms ease-out;
    transition: background 300ms ease-out, height 0.2s ease, box-shadow 300ms ease-out; }
    /* line 21, _transitions.scss */
    nav .logo {
      -webkit-transition: opacity 300ms ease;
      -moz-transition: opacity 300ms ease;
      -ms-transition: opacity 300ms ease;
      -o-transition: opacity 300ms ease;
      transition: opacity 300ms ease; }

  /* line 25, _transitions.scss */
  .sub-menu {
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -ms-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease; }

  /* line 28, _transitions.scss */
  .map_location {
    -webkit-transition: height 300ms ease, opacity 300ms ease;
    -moz-transition: height 300ms ease, opacity 300ms ease;
    -ms-transition: height 300ms ease, opacity 300ms ease;
    -o-transition: height 300ms ease, opacity 300ms ease;
    transition: height 300ms ease, opacity 300ms ease; } }
@keyframes disappear {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
/* fonts */
/*






*/
@font-face {
  font-family: 'varela';
  src: url("font-varela/varelaround-regular-webfont.woff2") format("woff2"), url("varelaround-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/*
@mixin ts_text(){
	font-size: 14px;
	font-family: $ffont-1;
	color: $dark-grey;
	font-weight: 600;
}*/
/* color */
/*
Theme Name: Free the Falls
Theme URI: 
Author:       
Author URI:  
Description:          
License:     
License URI:    
Tags:      
Text Domain:       
     
*/
/* line 14, _common.scss */
html,
body {
  height: 100%; }

/* line 19, _common.scss */
.title-container {
  background: #ffffff; }

/* line 1, _common_htmltags.scss */
h1,
h2,
h3,
h4,
h5,
p,
title,
div,
body,
ul,
li,
table,
td,
tr,
button,
section,
a {
  padding: 0px;
  margin: 0px;
  background: none;
  border: none;
  list-style-type: none;
  line-height: 100%;
  text-transform: none;
  text-decoration: none; }

/* line 28, _common_htmltags.scss */
p {
  margin-bottom: 24px;
  font-family: "Arial";
  line-height: 140%; }
  @media only screen and (max-width: 320px) {
    /* line 28, _common_htmltags.scss */
    p {
      font-size: 1em; } }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    /* line 28, _common_htmltags.scss */
    p {
      font-size: 13px; } }
  @media only screen and (min-width: 1024px) {
    /* line 28, _common_htmltags.scss */
    p {
      font-size: 16px; } }
  /* line 31, _common_htmltags.scss */
  p br {
    content: "";
    margin: 24px;
    display: block;
    font-size: 24%; }

/* line 39, _common_htmltags.scss */
li {
  font-family: "Arial";
  line-height: 140%; }
  @media only screen and (max-width: 320px) {
    /* line 39, _common_htmltags.scss */
    li {
      font-size: 1em; } }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    /* line 39, _common_htmltags.scss */
    li {
      font-size: 13px; } }
  @media only screen and (min-width: 1024px) {
    /* line 39, _common_htmltags.scss */
    li {
      font-size: 16px; } }

/* line 45, _common_htmltags.scss */
p a,
li a {
  font-family: "Arial";
  color: #b60000;
  text-transform: none;
  text-decoration: none;
  cursor: pointer; }
/* line 52, _common_htmltags.scss */
p a:hover,
li a:hover {
  text-decoration: underline; }

/* line 57, _common_htmltags.scss */
blockquote {
  font-style: italic;
  margin-bottom: 48px; }

/* line 62, _common_htmltags.scss */
h3 {
  font-family: "Varela", sans-serif;
  color: #333333;
  line-height: 28px;
  font-weight: normal; }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    /* line 62, _common_htmltags.scss */
    h3 {
      font-size: 1.5em; } }
  @media only screen and (min-width: 1024px) {
    /* line 62, _common_htmltags.scss */
    h3 {
      font-size: 28px; } }

/* line 66, _common_htmltags.scss */
label {
  font-size: 12px;
  font-family: "Arial";
  color: #333333;
  font-weight: 300;
  text-transform: uppercase; }

/* line 70, _common_htmltags.scss */
input {
  height: 36px;
  padding: 6px;
  box-sizing: border-box;
  font-family: "Arial";
  line-height: 140%;
  background: #f7f7f7;
  border: none; }
  @media only screen and (max-width: 320px) {
    /* line 70, _common_htmltags.scss */
    input {
      font-size: 1em; } }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    /* line 70, _common_htmltags.scss */
    input {
      font-size: 13px; } }
  @media only screen and (min-width: 1024px) {
    /* line 70, _common_htmltags.scss */
    input {
      font-size: 16px; } }

/* line 75, _common_htmltags.scss */
textarea {
  padding: 6px;
  box-sizing: border-box;
  font-family: "Arial";
  line-height: 140%;
  background: #f7f7f7;
  border: none; }
  @media only screen and (max-width: 320px) {
    /* line 75, _common_htmltags.scss */
    textarea {
      font-size: 1em; } }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    /* line 75, _common_htmltags.scss */
    textarea {
      font-size: 13px; } }
  @media only screen and (min-width: 1024px) {
    /* line 75, _common_htmltags.scss */
    textarea {
      font-size: 16px; } }

/* line 79, _common_htmltags.scss */
button,
.button {
  font-size: 12px;
  font-family: "Arial";
  color: #333333;
  font-weight: 300;
  text-transform: uppercase;
  height: 36px;
  padding-right: 9.6px;
  padding-left: 9.6px;
  background: #b60000;
  color: #ffffff;
  cursor: pointer;
  border-radius: 6px; }

/* line 91, _common_htmltags.scss */
button:hover {
  opacity: .8;
  border-radius: 24px; }

/* line 1, _common_header.scss */
.social {
  height: 48px;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 192px;
  opacity: 1;
  z-index: 1000;
  text-align: right; }
  /* line 10, _common_header.scss */
  .social li,
  .social a {
    width: 48px;
    height: 48px;
    display: inline-block; }
    /* line 12, _common_header.scss */
    .social li:hover,
    .social a:hover {
      cursor: pointer; }
    /* line 18, _common_header.scss */
    .social li img,
    .social a img {
      width: 48px;
      height: 48px;
      fill: #fed700; }
    /* line 23, _common_header.scss */
    .social li img:hover,
    .social a img:hover {
      cursor: pointer; }

@media only screen and (max-width: 320px) {
  /* line 31, _common_header.scss */
  header {
    display: block !important;
    position: relative; }
    /* line 35, _common_header.scss */
    header .main_logo {
      width: 40%;
      margin: 32px; }

  /* line 40, _common_header.scss */
  nav.nav_desktop {
    display: none; }

  /* line 43, _common_header.scss */
  .header-container {
    height: 100px; }

  /* line 47, _common_header.scss */
  nav.nav_mobile .logo_container {
    position: fixed;
    height: 48px;
    z-index: 1000;
    background: #ffffff;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    top: 0px; }
    /* line 57, _common_header.scss */
    nav.nav_mobile .logo_container .logo {
      height: 32px;
      display: block;
      margin: auto;
      padding: 6px; }
  /* line 65, _common_header.scss */
  nav.nav_mobile .container .menu-ftf_mobile-container {
    margin-top: 48px; }
    /* line 68, _common_header.scss */
    nav.nav_mobile .container .menu-ftf_mobile-container ul {
      display: block;
      opacity: 1;
      background: #f7f7f7;
      margin: auto; }
      /* line 73, _common_header.scss */
      nav.nav_mobile .container .menu-ftf_mobile-container ul li {
        text-align: center;
        padding: 6px; }
        /* line 77, _common_header.scss */
        nav.nav_mobile .container .menu-ftf_mobile-container ul li:hover {
          background: #fed700; }
        /* line 80, _common_header.scss */
        nav.nav_mobile .container .menu-ftf_mobile-container ul li a {
          color: #000000; }
  /* line 86, _common_header.scss */
  nav.nav_mobile .container .mobilemenu_hide {
    opacity: 0;
    height: 0px; } }
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 96, _common_header.scss */
  header {
    display: block !important;
    position: relative; }
    /* line 100, _common_header.scss */
    header .main_logo {
      width: 40%;
      margin: 32px; }

  /* line 106, _common_header.scss */
  .header-container {
    height: 220px; }

  /* line 110, _common_header.scss */
  nav.nav_desktop {
    display: none; }

  /* line 115, _common_header.scss */
  nav.nav_mobile .logo_container {
    position: fixed;
    height: 48px;
    z-index: 1000;
    background: #ffffff;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    top: 0px; }
    /* line 125, _common_header.scss */
    nav.nav_mobile .logo_container .logo {
      height: 32px;
      display: block;
      margin: auto;
      padding: 6px; }
  /* line 133, _common_header.scss */
  nav.nav_mobile .container .menu-ftf_mobile-container {
    margin-top: 48px; }
    /* line 136, _common_header.scss */
    nav.nav_mobile .container .menu-ftf_mobile-container ul {
      display: block;
      opacity: 1;
      background: #f7f7f7;
      margin: auto; }
      /* line 141, _common_header.scss */
      nav.nav_mobile .container .menu-ftf_mobile-container ul li {
        text-align: center;
        padding: 6px; }
        /* line 145, _common_header.scss */
        nav.nav_mobile .container .menu-ftf_mobile-container ul li:hover {
          background: #fed700; }
        /* line 148, _common_header.scss */
        nav.nav_mobile .container .menu-ftf_mobile-container ul li a {
          color: #000000; } }
@media only screen and (min-width: 1024px) {
  /* line 165, _common_header.scss */
  header .main_logo {
    width: 288px; }

  /* line 169, _common_header.scss */
  nav.nav_mobile {
    display: none; }

  /* line 172, _common_header.scss */
  nav.nav_desktop {
    height: 48px;
    width: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0.7);
    z-index: 100; }
    /* line 178, _common_header.scss */
    nav.nav_desktop .logo {
      height: 32px;
      position: relative; }
    /* line 182, _common_header.scss */
    nav.nav_desktop.over {
      height: 96px; }
    /* line 185, _common_header.scss */
    nav.nav_desktop .logo {
      opacity: 0; }
    /* line 188, _common_header.scss */
    nav.nav_desktop.over {
      display: inline-block;
      box-sizing: border-box;
      border-bottom-width: 3px;
      border-bottom-color: transparent;
      border-bottom-style: solid; }
    /* line 195, _common_header.scss */
    nav.nav_desktop.collapse {
      background: white;
      -webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
      box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1); }
      /* line 198, _common_header.scss */
      nav.nav_desktop.collapse .logo {
        opacity: 1; }
    /* line 203, _common_header.scss */
    nav.nav_desktop .container ul {
      margin-left: 48px;
      margin-top: 0px; }
    /* line 210, _common_header.scss */
    nav.nav_desktop .menu-ftf-container > .menu > li a {
      justify-content: center;
      align-items: center; }
    /* line 214, _common_header.scss */
    nav.nav_desktop .menu-ftf-container > .menu > li > a:hover,
    nav.nav_desktop .menu-ftf-container > .menu > li > a:focus {
      color: #000000;
      background: none; }
    /* line 219, _common_header.scss */
    nav.nav_desktop .menu-ftf-container > .menu > li {
      display: inline-block;
      position: relative;
      height: 100%; }
    /* line 224, _common_header.scss */
    nav.nav_desktop .menu-ftf-container > .menu > li:hover {
      border-bottom-width: 3px;
      border-bottom-color: #fed700;
      border-bottom-style: solid;
      background: rgba(255, 255, 255, 0.8);
      /* #fb usar uma animacao */ }
    /* line 232, _common_header.scss */
    nav.nav_desktop .menu-ftf-container > .menu a {
      text-decoration: none !important;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-family: "Arial";
      text-transform: uppercase;
      color: #333333;
      font-weight: light;
      font-size: 11px;
      padding: 0 12px; }
    /* line 247, _common_header.scss */
    nav.nav_desktop .menu .sub-menu {
      position: absolute;
      top: 96px;
      left: -48px;
      width: 144px;
      background: rgba(254, 215, 0, 0.95); }
      /* line 254, _common_header.scss */
      nav.nav_desktop .menu .sub-menu li {
        display: block;
        height: 48px; }
      /* line 258, _common_header.scss */
      nav.nav_desktop .menu .sub-menu a:hover {
        background: #ffffff; } }
/* line 1, _common_main.scss */
main {
    /*
	display: flex;
	justify-content: center;*/ }
  /* line 5, _common_main.scss */
  main .title,
  main .title a {
    font-family: "Varela", sans-serif;
    color: #333333;
    line-height: 28px;
    font-weight: normal;
    margin-bottom: 6px; }
    @media only screen and (min-width: 321px) and (max-width: 1023px) {
      /* line 5, _common_main.scss */
      main .title,
      main .title a {
        font-size: 1.5em; } }
    @media only screen and (min-width: 1024px) {
      /* line 5, _common_main.scss */
      main .title,
      main .title a {
        font-size: 28px; } }
  /* line 10, _common_main.scss */
  main .date {
    font-size: 14px;
    font-family: "Arial";
    font-weight: bold;
    color: #333333;
    margin-bottom: 6px; }
  /* line 14, _common_main.scss */
  main .text {
    font-family: "Arial";
    line-height: 140%; }
    @media only screen and (max-width: 320px) {
      /* line 14, _common_main.scss */
      main .text {
        font-size: 1em; } }
    @media only screen and (min-width: 321px) and (max-width: 1023px) {
      /* line 14, _common_main.scss */
      main .text {
        font-size: 13px; } }
    @media only screen and (min-width: 1024px) {
      /* line 14, _common_main.scss */
      main .text {
        font-size: 16px; } }
  @media only screen and (max-width: 320px) {
    /* line 17, _common_main.scss */
    main .image {
      width: 100%;
      height: auto; } }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    /* line 17, _common_main.scss */
    main .image {
      width: 100%;
      height: auto; } }
  @media only screen and (min-width: 1024px) {
    /* line 17, _common_main.scss */
    main .image {
      width: 192px;
      float: left;
      display: inline-block;
      margin: 0 24px 0 0; } }
  /* line 33, _common_main.scss */
  main .subpage-title,
  main .subpage-title a {
    color: #333333;
    font-size: 36px;
    font-style: italic;
    font-family: "Varela", sans-serif;
    font-weight: 100;
    text-decoration: none;
    margin-bottom: 48px; }
  /* line 39, _common_main.scss */
  main h3 a:hover {
    color: #b60000; }
  /* line 43, _common_main.scss */
  main p a {
    font-family: "Arial";
    line-height: 140%;
    color: #b60000; }
    @media only screen and (max-width: 320px) {
      /* line 43, _common_main.scss */
      main p a {
        font-size: 1em; } }
    @media only screen and (min-width: 321px) and (max-width: 1023px) {
      /* line 43, _common_main.scss */
      main p a {
        font-size: 13px; } }
    @media only screen and (min-width: 1024px) {
      /* line 43, _common_main.scss */
      main p a {
        font-size: 16px; } }
    /* line 46, _common_main.scss */
    main p a:hover {
      color: #000000; }

/* line 52, _common_main.scss */
main > .container {
  min-height: 500px; }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    /* line 52, _common_main.scss */
    main > .container {
      margin-top: 5%; } }

/* line 69, _common_main.scss */
.imagelegend {
  font-family: "Arial";
  color: #333333;
  font-size: 10px;
  display: block; }

/* line 1, _common_footer.scss */
footer {
  background: #cccccc; }
  /* line 5, _common_footer.scss */
  footer .container .logo {
    height: 48px; }
  /* line 9, _common_footer.scss */
  footer .container .footer_menu .menu {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between; }
    /* line 13, _common_footer.scss */
    footer .container .footer_menu .menu .menuhome {
      display: none; }
    /* line 16, _common_footer.scss */
    footer .container .footer_menu .menu li,
    footer .container .footer_menu .menu li a {
      padding: 0 6px;
      font-family: "Arial";
      line-height: 140%;
      font-weight: bold;
      color: #333333; }
      @media only screen and (max-width: 320px) {
        /* line 16, _common_footer.scss */
        footer .container .footer_menu .menu li,
        footer .container .footer_menu .menu li a {
          font-size: 1em; } }
      @media only screen and (min-width: 321px) and (max-width: 1023px) {
        /* line 16, _common_footer.scss */
        footer .container .footer_menu .menu li,
        footer .container .footer_menu .menu li a {
          font-size: 13px; } }
      @media only screen and (min-width: 1024px) {
        /* line 16, _common_footer.scss */
        footer .container .footer_menu .menu li,
        footer .container .footer_menu .menu li a {
          font-size: 16px; } }
      /* line 22, _common_footer.scss */
      footer .container .footer_menu .menu li:hover,
      footer .container .footer_menu .menu li a:hover {
        color: #000000; }
  /* line 28, _common_footer.scss */
  footer .container .copyright {
    font-family: "Arial";
    line-height: 140%;
    margin-left: 48px; }
    @media only screen and (max-width: 320px) {
      /* line 28, _common_footer.scss */
      footer .container .copyright {
        font-size: 1em; } }
    @media only screen and (min-width: 321px) and (max-width: 1023px) {
      /* line 28, _common_footer.scss */
      footer .container .copyright {
        font-size: 13px; } }
    @media only screen and (min-width: 1024px) {
      /* line 28, _common_footer.scss */
      footer .container .copyright {
        font-size: 16px; } }

/* line 5, _common_event.scss */
.event_item .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
/* line 10, _common_event.scss */
.event_item .information {
  width: 288px;
  margin-left: 24px; }
/* line 14, _common_event.scss */
.event_item .information .eventname {
  display: block; }
/* line 17, _common_event.scss */
.event_item .information .place {
  font-size: 14;
  font-family: "Arial";
  color: #333333;
  font-weight: 300;
  margin: 8px 0px;
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }
  /* line 23, _common_event.scss */
  .event_item .information .place .ico_pin {
    height: 15.724px;
    width: 11.595px; }
  /* line 27, _common_event.scss */
  .event_item .information .place span {
    margin-left: 12px;
    font-size: 12;
    font-family: "Arial";
    color: #333333;
    font-weight: 300; }
/* line 32, _common_event.scss */
.event_item .information .moreinfo {
  font-size: 11px !important; }
/* line 35, _common_event.scss */
.event_item .information .readmore {
  font-size: inherit !important; }

/* line 42, _common_event.scss */
.timeevent {
  width: 96px;
  /*guenta*/ }
/* line 46, _common_event.scss */
.timeevent .month {
  font-size: 22;
  font-family: "Arial";
  color: #333333;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  display: block; }
/* line 52, _common_event.scss */
.timeevent .day {
  font-size: 78;
  font-family: "Arial";
  color: #b60000;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height: 100%; }
/* line 61, _common_event.scss */
.timeevent .hour {
  font-size: 11;
  font-family: "Arial";
  color: #333333;
  font-weight: 300;
  text-align: center;
  display: block; }

@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 18, _common_structure.scss */
  header .container {
    width: 100%; } }
@media only screen and (min-width: 1024px) {
  /* line 18, _common_structure.scss */
  header .container {
    width: 768px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    margin: 0 auto; } }

@media only screen and (max-width: 320px) {
  /* line 41, _common_structure.scss */
  main > .container {
    width: 80%;
    margin: 5% auto; } }
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 41, _common_structure.scss */
  main > .container {
    width: 80%;
    margin: 5% auto; } }
@media only screen and (min-width: 1024px) {
  /* line 41, _common_structure.scss */
  main > .container {
    width: 768px; } }

/* line 56, _common_structure.scss */
footer {
  margin-top: 48px;
  height: 96px;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 320px) {
    /* line 56, _common_structure.scss */
    footer {
      display: none !important; } }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    /* line 56, _common_structure.scss */
    footer {
      display: none !important; } }
  /* line 65, _common_structure.scss */
  footer > .container {
    margin: auto;
    width: 1152px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between; }

/* line 101, _mixins.scss */
.header-container {
  display: flex;
  justify-content: space-between;
  height: 288px; }
  /* line 116, _mixins.scss */
  .header-container .header-image {
    background-image: url("../imgs/header_events.jpg");
    width: 50%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover; }
    /* line 129, _mixins.scss */
    .header-container .header-image div {
      position: absolute;
      height: 100%;
      right: 0;
      display: flex;
      align-items: center; }
      @media only screen and (min-width: 321px) and (max-width: 1023px) {
        /* line 129, _mixins.scss */
        .header-container .header-image div {
          justify-content: center; } }
      @media only screen and (min-width: 1024px) {
        /* line 129, _mixins.scss */
        .header-container .header-image div {
          width: 384px; } }
  /* line 149, _mixins.scss */
  .header-container .title-container {
    position: relative;
    height: 384px;
    width: 50%; }
    /* line 153, _mixins.scss */
    .header-container .title-container .page-title {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 288px;
      text-align: center; }
      /* line 163, _mixins.scss */
      .header-container .title-container .page-title h1 {
        text-align: center;
        margin-top: 48px;
        line-height: 80%;
        font-family: "Varela", sans-serif;
        color: #b60000;
        text-transform: lowercase; }
        @media only screen and (max-width: 320px) {
          /* line 163, _mixins.scss */
          .header-container .title-container .page-title h1 {
            font-size: 1em; } }
        @media only screen and (min-width: 321px) and (max-width: 1023px) {
          /* line 163, _mixins.scss */
          .header-container .title-container .page-title h1 {
            font-size: 2em; } }
        @media only screen and (min-width: 1024px) {
          /* line 163, _mixins.scss */
          .header-container .title-container .page-title h1 {
            font-size: 80px; } }

/* line 4, events.scss */
main .list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 9, events.scss */
  main .container {
    width: 80%; } }
@media only screen and (min-width: 1024px) {
  /* line 9, events.scss */
  main .container {
    width: 768px;
    margin: 48px auto 0 auto; }
    /* line 17, events.scss */
    main .container .event_item {
      margin: 0;
      display: flex;
      justify-content: space-between; } }
    @media only screen and (min-width: 1024px) and (max-width: 320px) {
      /* line 17, events.scss */
      main .container .event_item {
        height: auto;
        width: 100%; } }
    @media only screen and (min-width: 1024px) and (min-width: 1024px) {
      /* line 17, events.scss */
      main .container .event_item {
        width: 336px !important; } }
@media only screen and (min-width: 1024px) {
      /* line 29, events.scss */
      main .container .event_item:nth-child(odd) {
        margin-right: 48px; }
      /* line 32, events.scss */
      main .container .event_item .container {
        margin: 0px; }
      /* line 35, events.scss */
      main .container .event_item .eventname,
      main .container .event_item a .eventname {
        font-size: 18px;
        font-family: "Varela", sans-serif;
        color: #000000;
        font-weight: 900;
        font-style: italic;
        line-height: 22px; }
        /* line 38, events.scss */
        main .container .event_item .eventname:hover,
        main .container .event_item a .eventname:hover {
          text-decoration: none;
          color: #b60000; }
      /* line 43, events.scss */
      main .container .event_item .timeevent {
        width: 96px; }
      /* line 47, events.scss */
      main .container .event_item .moreinfotitle {
        font-size: 12px;
        font-family: "Arial";
        color: #333333;
        font-weight: 300;
        text-transform: uppercase; } }
/* line 53, events.scss */
main .bottom_bar {
  clear: both;
  width: 100%;
  text-align: right; }
@media only screen and (min-width: 1024px) {
  /* line 58, events.scss */
  main .event_detail {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; } }
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 65, events.scss */
  main .event_detail .timeevent {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    width: 100%;
    display: block;
    position: static !important;
    margin-bottom: 48px; } }
@media only screen and (min-width: 1024px) {
  /* line 65, events.scss */
  main .event_detail .timeevent {
    position: absolute;
    top: 0;
    left: 0; } }
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 82, events.scss */
  main .event_detail .content {
    width: 100%; } }
@media only screen and (min-width: 1024px) {
  /* line 82, events.scss */
  main .event_detail .content {
    position: relative;
    top: 0;
    left: 48px;
    width: 624px; } }
/* line 93, events.scss */
main .event_detail .content div {
  font-family: "Arial";
  line-height: 140%; }
  @media only screen and (max-width: 320px) {
    /* line 93, events.scss */
    main .event_detail .content div {
      font-size: 1em; } }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    /* line 93, events.scss */
    main .event_detail .content div {
      font-size: 13px; } }
  @media only screen and (min-width: 1024px) {
    /* line 93, events.scss */
    main .event_detail .content div {
      font-size: 16px; } }
/* line 97, events.scss */
main .event_detail img {
  width: 100%;
  height: auto;
  margin-bottom: 24px; }
/* line 102, events.scss */
main .event_detail .title {
  font-size: 18px;
  font-family: "Arial";
  color: #333333;
  font-weight: 900; }
/* line 105, events.scss */
main .event_detail .map_location {
  background: #f7f7f7;
  height: 0px;
  visibility: hidden;
  opacity: 0; }
/* line 111, events.scss */
main .event_detail .map_show {
  padding: 12px;
  height: 450px !important;
  visibility: visible;
  opacity: 1;
  margin-bottom: 12px; }
/* line 120, events.scss */
main .events_past .date {
  margin-bottom: 0; }
/* line 123, events.scss */
main .events_past .title,
main .events_past a .title {
  font-size: 18px;
  font-family: "Varela", sans-serif;
  color: #000000;
  font-weight: 900;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 24px; }
