//@import "variables";
//@import "mixins";
//@import "fonts";
//@import "colors";
//@import "common";
@import "style";

.hidden {
    display: none;
}

.header-container {
    
    
    width: 100%;
    position: relative;

    #head1 {
        background-image: url('../imgs/'+$header-image-1);
    }
    #head2 {
        background-image: url('../imgs/'+$header-image-2);
    }
    #head3 {
        background-image: url('../imgs/'+$header-image-3);
    }
    #head4 {
        background-image: url('../imgs/'+$header-image-4);
    }
    #head5 {
        background-image: url('../imgs/'+$header-image-5);
    }


    @include respond-to(hh){
        // object-fit: scale-down;
    }
    
    @include respond-to(ms){
        // object-fit: scale-down;
        // overflow: hidden;
        // height:50%;
    }
    
    @include respond-to(ws){
        overflow: hidden;
        height: $m_4_1;
    }


}

.disappear {
    animation-name: disappear;
    animation-duration: 2s;
    animation-timing-function: ease;
}

.headimage {

    
    
    width: 100%;
    
    background-color: $second-color;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
    display: flex;

    @include respond-to(hh){
        position: absolute;
    }
    
    @include respond-to(ms){
        position: absolute;
    }
    
    @include respond-to(ws){
        top: 0;
        position: absolute;
    }

    .container {

        width: $module-size *10;
        display: flex;
        
        align-items: center;
        

        @include respond-to(hh){
            justify-content: center;
            height: 20%;
        }

        @include respond-to(ms){
            justify-content: center;
            height: 20%;
        }

        @include respond-to(ws){
            justify-content: space-between;
            height: $module-size * 4;
            margin-top: $m_1_2;
        }

    }
    .tagline {

        margin-left: $module-size /2;
        @include myfont($ffont-2,
            42,
            $first-color,
            normal);
        @include stroke(2,
        $white-color);
        /*width: $module-relative-size * 7;*/
        line-height: 40px;

        @include respond-to(hh){
            display:none;
        }

        @include respond-to(ms){
            display:none;
        }

        @include respond-to(ws){

        }

    }
}

.buttons-headimage {
    
    bottom: $m_1_4;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;

    @include respond-to(hh){
        display: none;
    }
    
    @include respond-to(ms){
        display: none;
    }
    
    @include respond-to(ws){
        position: absolute;
    }

    li {
        float: left;
        margin: $m_1_32;
    }
    a {
        padding: $m_1_16;
        background: $first-color;
        color: $white-color !important;
        cursor: pointer;
        background: $first-color;
        display: block;
        border-radius: $m_1_8;
        &:hover {
            background: $white-color;
        }
        &.active {
            background: $second-color;
        }
    }
    a span {
        display: none;
    }
}

main .container {
    @include respond-to(hh) {
        display: block;
        width: 80%;
        margin: auto;
    }
    @include respond-to(ms) {
        display: block;
        width: 80%;
        margin: auto;
    }
    @include respond-to(ws) {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

.blog {
    box-sizing: border-box;
}

#blog {
    @include respond-to(hh) {}
    @include respond-to(ms) {}
    @include respond-to(ws) {
        width: $module-size * 5;
    }
    .entry {
        margin-top: $m_1_4;
        margin-bottom: $m_1_4;
        @include solid-border;


        .image{
            @include respond-to(hh){
                
            }
            
            @include respond-to(ms){
                margin-bottom: $m_1_4;
            }
            
            @include respond-to(ws){
            
            }
        }


        // padding-bottom: $m_1_4;
    }
    /* limando para teste
    .title{
        @include ts_post_title();
        margin-bottom: $m_1_16;
    }

    .date{
        @include ts_date();
        text-align: right;
        margin-bottom: $module-size / 16;
    }
    .text{
        @include ts_text();
    }
    .image{
        width: $module-size * 2;
        float: left;
        display: inline-block;
        margin: 0 ($module-size /4 ) 0 0;      
    }

    */
    .date {
        text-align: right;
    }
    .comments {
        text-align: right;
        display: block;
        margin-top: $module-size/16;
        .number {
            @include bulletCounter();
        }
    }
}

#sidebar {
    @include respond-to(hh){
        width:100%;
    }
    
    @include respond-to(ms){
        width:100%;
    }
    
    @include respond-to(ws){
        margin-left: $m_1_2;
    }
    
    
}

#events {

    @include respond-to(hh){
        
    }
    
    @include respond-to(ms){
        width: 100%;
    }
    
    @include respond-to(ws){
        width: $module-size * 2.5;
    }
    
    
    .eventname {
        @include ts_date();
    }
    .place {
        @include ts_text();
    }
    .container {
        display: flex;
        justify-content: space-between;
        // width: 100%;
    }
    .title {
        @include ts_title();
        margin-bottom: $m_1_4;
    }
    /*
    .moreinfo:before{
        content:"MORE INFO:";
        display: block;
        font-weight: Light;
        font-size: $font-size - 2;
    
    }*/
}

#subscribe {
    background: #fefefe;
    label {
        color: $first-color;
        margin-bottom: $module-size /16;
        display: block;
    }
    label,
    input {
        margin-left: $m_1_8;
    }
    input {

        padding: $m_1_16;
        box-sizing: border-box;
        @include ts_text();

        @include respond-to(hh){
            width: 90%;
        }
        
        @include respond-to(ms){
            width: 90%;
        }
        
        @include respond-to(ws){
            width: $m_2_1/1.1;
        }

        
    }
    .subscribe_return {
        margin: 0 $m_1_8;
    }
}

aside section {
    padding: $m_1_8 0 $m_1_4 0;
    box-sizing: border-box;
    @include border-bottom-dotted();
}