/* images */
/* sizes */
/*limar esse - - quando quiser, pode limar */
/*limar esse */
/*
$m_1_4: $module-relative-size/4;
$m_2_4: $module-relative-size/2;
$m_4_2: $module-relative-size * 2;
$m_2_1: $module-relative-size * 2;
$m_5_1: $module-relative-size*5;
$m_1_8: $module-relative-size/8;
$m_1_16:$module-relative-size/16;
$m_12_1:$module-relative-size*12;

*/
/* borders */
/* ALIGN */
/* 
header standard style 
*/
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 4, _transitions.scss */
  .menu-ftf_mobile-container {
    -webkit-transition: opacity 300ms ease, height 300ms ease;
    -moz-transition: opacity 300ms ease, height 300ms ease;
    -ms-transition: opacity 300ms ease, height 300ms ease;
    -o-transition: opacity 300ms ease, height 300ms ease;
    transition: opacity 300ms ease, height 300ms ease; } }
@media only screen and (min-width: 1024px) {
  /* line 11, _transitions.scss */
  nav li,
  nav .over {
    -webkit-transition: background 0.5s 300ms 0s;
    -moz-transition: background 0.5s 300ms 0s;
    -ms-transition: background 0.5s 300ms 0s;
    -o-transition: background 0.5s 300ms 0s;
    transition: background 0.5s 300ms 0s;
    -webkit-transition: height 300ms;
    -moz-transition: height 300ms;
    -ms-transition: height 300ms;
    -o-transition: height 300ms;
    transition: height 300ms; }

  /* line 16, _transitions.scss */
  nav a {
    -webkit-transition: height 300ms ease 0.1s;
    -moz-transition: height 300ms ease 0.1s;
    -ms-transition: height 300ms ease 0.1s;
    -o-transition: height 300ms ease 0.1s;
    transition: height 300ms ease 0.1s; }

  /* line 19, _transitions.scss */
  nav {
    -webkit-transition: background 300ms ease-out, height 0.2s ease, box-shadow 300ms ease-out;
    -moz-transition: background 300ms ease-out, height 0.2s ease, box-shadow 300ms ease-out;
    -ms-transition: background 300ms ease-out, height 0.2s ease, box-shadow 300ms ease-out;
    -o-transition: background 300ms ease-out, height 0.2s ease, box-shadow 300ms ease-out;
    transition: background 300ms ease-out, height 0.2s ease, box-shadow 300ms ease-out; }
    /* line 21, _transitions.scss */
    nav .logo {
      -webkit-transition: opacity 300ms ease;
      -moz-transition: opacity 300ms ease;
      -ms-transition: opacity 300ms ease;
      -o-transition: opacity 300ms ease;
      transition: opacity 300ms ease; }

  /* line 25, _transitions.scss */
  .sub-menu {
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -ms-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease; }

  /* line 28, _transitions.scss */
  .map_location {
    -webkit-transition: height 300ms ease, opacity 300ms ease;
    -moz-transition: height 300ms ease, opacity 300ms ease;
    -ms-transition: height 300ms ease, opacity 300ms ease;
    -o-transition: height 300ms ease, opacity 300ms ease;
    transition: height 300ms ease, opacity 300ms ease; } }
@keyframes disappear {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
/* fonts */
/*






*/
@font-face {
  font-family: 'varela';
  src: url("font-varela/varelaround-regular-webfont.woff2") format("woff2"), url("varelaround-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/*
@mixin ts_text(){
	font-size: 14px;
	font-family: $ffont-1;
	color: $dark-grey;
	font-weight: 600;
}*/
/* color */
/*
Theme Name: Free the Falls
Theme URI: 
Author:       
Author URI:  
Description:          
License:     
License URI:    
Tags:      
Text Domain:       
     
*/
/* line 14, _common.scss */
html,
body {
  height: 100%; }

/* line 19, _common.scss */
.title-container {
  background: #ffffff; }

/* line 1, _common_htmltags.scss */
h1,
h2,
h3,
h4,
h5,
p,
title,
div,
body,
ul,
li,
table,
td,
tr,
button,
section,
a {
  padding: 0px;
  margin: 0px;
  background: none;
  border: none;
  list-style-type: none;
  line-height: 100%;
  text-transform: none;
  text-decoration: none; }

/* line 28, _common_htmltags.scss */
p {
  margin-bottom: 24px;
  font-family: "Arial";
  line-height: 140%; }
  @media only screen and (max-width: 320px) {
    /* line 28, _common_htmltags.scss */
    p {
      font-size: 1em; } }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    /* line 28, _common_htmltags.scss */
    p {
      font-size: 13px; } }
  @media only screen and (min-width: 1024px) {
    /* line 28, _common_htmltags.scss */
    p {
      font-size: 16px; } }
  /* line 31, _common_htmltags.scss */
  p br {
    content: "";
    margin: 24px;
    display: block;
    font-size: 24%; }

/* line 39, _common_htmltags.scss */
li {
  font-family: "Arial";
  line-height: 140%; }
  @media only screen and (max-width: 320px) {
    /* line 39, _common_htmltags.scss */
    li {
      font-size: 1em; } }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    /* line 39, _common_htmltags.scss */
    li {
      font-size: 13px; } }
  @media only screen and (min-width: 1024px) {
    /* line 39, _common_htmltags.scss */
    li {
      font-size: 16px; } }

/* line 45, _common_htmltags.scss */
p a,
li a {
  font-family: "Arial";
  color: #b60000;
  text-transform: none;
  text-decoration: none;
  cursor: pointer; }
/* line 52, _common_htmltags.scss */
p a:hover,
li a:hover {
  text-decoration: underline; }

/* line 57, _common_htmltags.scss */
blockquote {
  font-style: italic;
  margin-bottom: 48px; }

/* line 62, _common_htmltags.scss */
h3 {
  font-family: "Varela", sans-serif;
  color: #333333;
  line-height: 28px;
  font-weight: normal; }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    /* line 62, _common_htmltags.scss */
    h3 {
      font-size: 1.5em; } }
  @media only screen and (min-width: 1024px) {
    /* line 62, _common_htmltags.scss */
    h3 {
      font-size: 28px; } }

/* line 66, _common_htmltags.scss */
label {
  font-size: 12px;
  font-family: "Arial";
  color: #333333;
  font-weight: 300;
  text-transform: uppercase; }

/* line 70, _common_htmltags.scss */
input {
  height: 36px;
  padding: 6px;
  box-sizing: border-box;
  font-family: "Arial";
  line-height: 140%;
  background: #f7f7f7;
  border: none; }
  @media only screen and (max-width: 320px) {
    /* line 70, _common_htmltags.scss */
    input {
      font-size: 1em; } }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    /* line 70, _common_htmltags.scss */
    input {
      font-size: 13px; } }
  @media only screen and (min-width: 1024px) {
    /* line 70, _common_htmltags.scss */
    input {
      font-size: 16px; } }

/* line 75, _common_htmltags.scss */
textarea {
  padding: 6px;
  box-sizing: border-box;
  font-family: "Arial";
  line-height: 140%;
  background: #f7f7f7;
  border: none; }
  @media only screen and (max-width: 320px) {
    /* line 75, _common_htmltags.scss */
    textarea {
      font-size: 1em; } }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    /* line 75, _common_htmltags.scss */
    textarea {
      font-size: 13px; } }
  @media only screen and (min-width: 1024px) {
    /* line 75, _common_htmltags.scss */
    textarea {
      font-size: 16px; } }

/* line 79, _common_htmltags.scss */
button,
.button {
  font-size: 12px;
  font-family: "Arial";
  color: #333333;
  font-weight: 300;
  text-transform: uppercase;
  height: 36px;
  padding-right: 9.6px;
  padding-left: 9.6px;
  background: #b60000;
  color: #ffffff;
  cursor: pointer;
  border-radius: 6px; }

/* line 91, _common_htmltags.scss */
button:hover {
  opacity: .8;
  border-radius: 24px; }

/* line 1, _common_header.scss */
.social {
  height: 48px;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 192px;
  opacity: 1;
  z-index: 1000;
  text-align: right; }
  /* line 10, _common_header.scss */
  .social li,
  .social a {
    width: 48px;
    height: 48px;
    display: inline-block; }
    /* line 12, _common_header.scss */
    .social li:hover,
    .social a:hover {
      cursor: pointer; }
    /* line 18, _common_header.scss */
    .social li img,
    .social a img {
      width: 48px;
      height: 48px;
      fill: #fed700; }
    /* line 23, _common_header.scss */
    .social li img:hover,
    .social a img:hover {
      cursor: pointer; }

@media only screen and (max-width: 320px) {
  /* line 31, _common_header.scss */
  header {
    display: block !important;
    position: relative; }
    /* line 35, _common_header.scss */
    header .main_logo {
      width: 40%;
      margin: 32px; }

  /* line 40, _common_header.scss */
  nav.nav_desktop {
    display: none; }

  /* line 43, _common_header.scss */
  .header-container {
    height: 100px; }

  /* line 47, _common_header.scss */
  nav.nav_mobile .logo_container {
    position: fixed;
    height: 48px;
    z-index: 1000;
    background: #ffffff;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    top: 0px; }
    /* line 57, _common_header.scss */
    nav.nav_mobile .logo_container .logo {
      height: 32px;
      display: block;
      margin: auto;
      padding: 6px; }
  /* line 65, _common_header.scss */
  nav.nav_mobile .container .menu-ftf_mobile-container {
    margin-top: 48px; }
    /* line 68, _common_header.scss */
    nav.nav_mobile .container .menu-ftf_mobile-container ul {
      display: block;
      opacity: 1;
      background: #f7f7f7;
      margin: auto; }
      /* line 73, _common_header.scss */
      nav.nav_mobile .container .menu-ftf_mobile-container ul li {
        text-align: center;
        padding: 6px; }
        /* line 77, _common_header.scss */
        nav.nav_mobile .container .menu-ftf_mobile-container ul li:hover {
          background: #fed700; }
        /* line 80, _common_header.scss */
        nav.nav_mobile .container .menu-ftf_mobile-container ul li a {
          color: #000000; }
  /* line 86, _common_header.scss */
  nav.nav_mobile .container .mobilemenu_hide {
    opacity: 0;
    height: 0px; } }
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 96, _common_header.scss */
  header {
    display: block !important;
    position: relative; }
    /* line 100, _common_header.scss */
    header .main_logo {
      width: 40%;
      margin: 32px; }

  /* line 106, _common_header.scss */
  .header-container {
    height: 220px; }

  /* line 110, _common_header.scss */
  nav.nav_desktop {
    display: none; }

  /* line 115, _common_header.scss */
  nav.nav_mobile .logo_container {
    position: fixed;
    height: 48px;
    z-index: 1000;
    background: #ffffff;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    top: 0px; }
    /* line 125, _common_header.scss */
    nav.nav_mobile .logo_container .logo {
      height: 32px;
      display: block;
      margin: auto;
      padding: 6px; }
  /* line 133, _common_header.scss */
  nav.nav_mobile .container .menu-ftf_mobile-container {
    margin-top: 48px; }
    /* line 136, _common_header.scss */
    nav.nav_mobile .container .menu-ftf_mobile-container ul {
      display: block;
      opacity: 1;
      background: #f7f7f7;
      margin: auto; }
      /* line 141, _common_header.scss */
      nav.nav_mobile .container .menu-ftf_mobile-container ul li {
        text-align: center;
        padding: 6px; }
        /* line 145, _common_header.scss */
        nav.nav_mobile .container .menu-ftf_mobile-container ul li:hover {
          background: #fed700; }
        /* line 148, _common_header.scss */
        nav.nav_mobile .container .menu-ftf_mobile-container ul li a {
          color: #000000; } }
@media only screen and (min-width: 1024px) {
  /* line 165, _common_header.scss */
  header .main_logo {
    width: 288px; }

  /* line 169, _common_header.scss */
  nav.nav_mobile {
    display: none; }

  /* line 172, _common_header.scss */
  nav.nav_desktop {
    height: 48px;
    width: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0.7);
    z-index: 100; }
    /* line 178, _common_header.scss */
    nav.nav_desktop .logo {
      height: 32px;
      position: relative; }
    /* line 182, _common_header.scss */
    nav.nav_desktop.over {
      height: 96px; }
    /* line 185, _common_header.scss */
    nav.nav_desktop .logo {
      opacity: 0; }
    /* line 188, _common_header.scss */
    nav.nav_desktop.over {
      display: inline-block;
      box-sizing: border-box;
      border-bottom-width: 3px;
      border-bottom-color: transparent;
      border-bottom-style: solid; }
    /* line 195, _common_header.scss */
    nav.nav_desktop.collapse {
      background: white;
      -webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
      box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1); }
      /* line 198, _common_header.scss */
      nav.nav_desktop.collapse .logo {
        opacity: 1; }
    /* line 203, _common_header.scss */
    nav.nav_desktop .container ul {
      margin-left: 48px;
      margin-top: 0px; }
    /* line 210, _common_header.scss */
    nav.nav_desktop .menu-ftf-container > .menu > li a {
      justify-content: center;
      align-items: center; }
    /* line 214, _common_header.scss */
    nav.nav_desktop .menu-ftf-container > .menu > li > a:hover,
    nav.nav_desktop .menu-ftf-container > .menu > li > a:focus {
      color: #000000;
      background: none; }
    /* line 219, _common_header.scss */
    nav.nav_desktop .menu-ftf-container > .menu > li {
      display: inline-block;
      position: relative;
      height: 100%; }
    /* line 224, _common_header.scss */
    nav.nav_desktop .menu-ftf-container > .menu > li:hover {
      border-bottom-width: 3px;
      border-bottom-color: #fed700;
      border-bottom-style: solid;
      background: rgba(255, 255, 255, 0.8);
      /* #fb usar uma animacao */ }
    /* line 232, _common_header.scss */
    nav.nav_desktop .menu-ftf-container > .menu a {
      text-decoration: none !important;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-family: "Arial";
      text-transform: uppercase;
      color: #333333;
      font-weight: light;
      font-size: 11px;
      padding: 0 12px; }
    /* line 247, _common_header.scss */
    nav.nav_desktop .menu .sub-menu {
      position: absolute;
      top: 96px;
      left: -48px;
      width: 144px;
      background: rgba(254, 215, 0, 0.95); }
      /* line 254, _common_header.scss */
      nav.nav_desktop .menu .sub-menu li {
        display: block;
        height: 48px; }
      /* line 258, _common_header.scss */
      nav.nav_desktop .menu .sub-menu a:hover {
        background: #ffffff; } }
/* line 1, _common_main.scss */
main {
    /*
	display: flex;
	justify-content: center;*/ }
  /* line 5, _common_main.scss */
  main .title,
  main .title a {
    font-family: "Varela", sans-serif;
    color: #333333;
    line-height: 28px;
    font-weight: normal;
    margin-bottom: 6px; }
    @media only screen and (min-width: 321px) and (max-width: 1023px) {
      /* line 5, _common_main.scss */
      main .title,
      main .title a {
        font-size: 1.5em; } }
    @media only screen and (min-width: 1024px) {
      /* line 5, _common_main.scss */
      main .title,
      main .title a {
        font-size: 28px; } }
  /* line 10, _common_main.scss */
  main .date {
    font-size: 14px;
    font-family: "Arial";
    font-weight: bold;
    color: #333333;
    margin-bottom: 6px; }
  /* line 14, _common_main.scss */
  main .text {
    font-family: "Arial";
    line-height: 140%; }
    @media only screen and (max-width: 320px) {
      /* line 14, _common_main.scss */
      main .text {
        font-size: 1em; } }
    @media only screen and (min-width: 321px) and (max-width: 1023px) {
      /* line 14, _common_main.scss */
      main .text {
        font-size: 13px; } }
    @media only screen and (min-width: 1024px) {
      /* line 14, _common_main.scss */
      main .text {
        font-size: 16px; } }
  @media only screen and (max-width: 320px) {
    /* line 17, _common_main.scss */
    main .image {
      width: 100%;
      height: auto; } }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    /* line 17, _common_main.scss */
    main .image {
      width: 100%;
      height: auto; } }
  @media only screen and (min-width: 1024px) {
    /* line 17, _common_main.scss */
    main .image {
      width: 192px;
      float: left;
      display: inline-block;
      margin: 0 24px 0 0; } }
  /* line 33, _common_main.scss */
  main .subpage-title,
  main .subpage-title a {
    color: #333333;
    font-size: 36px;
    font-style: italic;
    font-family: "Varela", sans-serif;
    font-weight: 100;
    text-decoration: none;
    margin-bottom: 48px; }
  /* line 39, _common_main.scss */
  main h3 a:hover {
    color: #b60000; }
  /* line 43, _common_main.scss */
  main p a {
    font-family: "Arial";
    line-height: 140%;
    color: #b60000; }
    @media only screen and (max-width: 320px) {
      /* line 43, _common_main.scss */
      main p a {
        font-size: 1em; } }
    @media only screen and (min-width: 321px) and (max-width: 1023px) {
      /* line 43, _common_main.scss */
      main p a {
        font-size: 13px; } }
    @media only screen and (min-width: 1024px) {
      /* line 43, _common_main.scss */
      main p a {
        font-size: 16px; } }
    /* line 46, _common_main.scss */
    main p a:hover {
      color: #000000; }

/* line 52, _common_main.scss */
main > .container {
  min-height: 500px; }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    /* line 52, _common_main.scss */
    main > .container {
      margin-top: 5%; } }

/* line 69, _common_main.scss */
.imagelegend {
  font-family: "Arial";
  color: #333333;
  font-size: 10px;
  display: block; }

/* line 1, _common_footer.scss */
footer {
  background: #cccccc; }
  /* line 5, _common_footer.scss */
  footer .container .logo {
    height: 48px; }
  /* line 9, _common_footer.scss */
  footer .container .footer_menu .menu {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between; }
    /* line 13, _common_footer.scss */
    footer .container .footer_menu .menu .menuhome {
      display: none; }
    /* line 16, _common_footer.scss */
    footer .container .footer_menu .menu li,
    footer .container .footer_menu .menu li a {
      padding: 0 6px;
      font-family: "Arial";
      line-height: 140%;
      font-weight: bold;
      color: #333333; }
      @media only screen and (max-width: 320px) {
        /* line 16, _common_footer.scss */
        footer .container .footer_menu .menu li,
        footer .container .footer_menu .menu li a {
          font-size: 1em; } }
      @media only screen and (min-width: 321px) and (max-width: 1023px) {
        /* line 16, _common_footer.scss */
        footer .container .footer_menu .menu li,
        footer .container .footer_menu .menu li a {
          font-size: 13px; } }
      @media only screen and (min-width: 1024px) {
        /* line 16, _common_footer.scss */
        footer .container .footer_menu .menu li,
        footer .container .footer_menu .menu li a {
          font-size: 16px; } }
      /* line 22, _common_footer.scss */
      footer .container .footer_menu .menu li:hover,
      footer .container .footer_menu .menu li a:hover {
        color: #000000; }
  /* line 28, _common_footer.scss */
  footer .container .copyright {
    font-family: "Arial";
    line-height: 140%;
    margin-left: 48px; }
    @media only screen and (max-width: 320px) {
      /* line 28, _common_footer.scss */
      footer .container .copyright {
        font-size: 1em; } }
    @media only screen and (min-width: 321px) and (max-width: 1023px) {
      /* line 28, _common_footer.scss */
      footer .container .copyright {
        font-size: 13px; } }
    @media only screen and (min-width: 1024px) {
      /* line 28, _common_footer.scss */
      footer .container .copyright {
        font-size: 16px; } }

/* line 5, _common_event.scss */
.event_item .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
/* line 10, _common_event.scss */
.event_item .information {
  width: 288px;
  margin-left: 24px; }
/* line 14, _common_event.scss */
.event_item .information .eventname {
  display: block; }
/* line 17, _common_event.scss */
.event_item .information .place {
  font-size: 14;
  font-family: "Arial";
  color: #333333;
  font-weight: 300;
  margin: 8px 0px;
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }
  /* line 23, _common_event.scss */
  .event_item .information .place .ico_pin {
    height: 15.724px;
    width: 11.595px; }
  /* line 27, _common_event.scss */
  .event_item .information .place span {
    margin-left: 12px;
    font-size: 12;
    font-family: "Arial";
    color: #333333;
    font-weight: 300; }
/* line 32, _common_event.scss */
.event_item .information .moreinfo {
  font-size: 11px !important; }
/* line 35, _common_event.scss */
.event_item .information .readmore {
  font-size: inherit !important; }

/* line 42, _common_event.scss */
.timeevent {
  width: 96px;
  /*guenta*/ }
/* line 46, _common_event.scss */
.timeevent .month {
  font-size: 22;
  font-family: "Arial";
  color: #333333;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  display: block; }
/* line 52, _common_event.scss */
.timeevent .day {
  font-size: 78;
  font-family: "Arial";
  color: #b60000;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height: 100%; }
/* line 61, _common_event.scss */
.timeevent .hour {
  font-size: 11;
  font-family: "Arial";
  color: #333333;
  font-weight: 300;
  text-align: center;
  display: block; }

@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 18, _common_structure.scss */
  header .container {
    width: 100%; } }
@media only screen and (min-width: 1024px) {
  /* line 18, _common_structure.scss */
  header .container {
    width: 768px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    margin: 0 auto; } }

@media only screen and (max-width: 320px) {
  /* line 41, _common_structure.scss */
  main > .container {
    width: 80%;
    margin: 5% auto; } }
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 41, _common_structure.scss */
  main > .container {
    width: 80%;
    margin: 5% auto; } }
@media only screen and (min-width: 1024px) {
  /* line 41, _common_structure.scss */
  main > .container {
    width: 768px; } }

/* line 56, _common_structure.scss */
footer {
  margin-top: 48px;
  height: 96px;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 320px) {
    /* line 56, _common_structure.scss */
    footer {
      display: none !important; } }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    /* line 56, _common_structure.scss */
    footer {
      display: none !important; } }
  /* line 65, _common_structure.scss */
  footer > .container {
    margin: auto;
    width: 1152px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between; }

/* line 8, home.scss */
.hidden {
  display: none; }

/* line 12, home.scss */
.header-container {
  width: 100%;
  position: relative; }
  /* line 18, home.scss */
  .header-container #head1 {
    background-image: url("../imgs/header_home_1.jpg"); }
  /* line 21, home.scss */
  .header-container #head2 {
    background-image: url("../imgs/header_home_2.jpg"); }
  /* line 24, home.scss */
  .header-container #head3 {
    background-image: url("../imgs/header_home_3.jpg"); }
  /* line 27, home.scss */
  .header-container #head4 {
    background-image: url("../imgs/header_home_4.jpg"); }
  /* line 30, home.scss */
  .header-container #head5 {
    background-image: url("../imgs/header_home_5.jpg"); }
  @media only screen and (min-width: 1024px) {
    /* line 12, home.scss */
    .header-container {
      overflow: hidden;
      height: 384px; } }

/* line 53, home.scss */
.disappear {
  animation-name: disappear;
  animation-duration: 2s;
  animation-timing-function: ease; }

/* line 59, home.scss */
.headimage {
  width: 100%;
  background-color: #fed700;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
  display: flex; }
  @media only screen and (max-width: 320px) {
    /* line 59, home.scss */
    .headimage {
      position: absolute; } }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    /* line 59, home.scss */
    .headimage {
      position: absolute; } }
  @media only screen and (min-width: 1024px) {
    /* line 59, home.scss */
    .headimage {
      top: 0;
      position: absolute; } }
  /* line 84, home.scss */
  .headimage .container {
    width: 960px;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 320px) {
      /* line 84, home.scss */
      .headimage .container {
        justify-content: center;
        height: 20%; } }
    @media only screen and (min-width: 321px) and (max-width: 1023px) {
      /* line 84, home.scss */
      .headimage .container {
        justify-content: center;
        height: 20%; } }
    @media only screen and (min-width: 1024px) {
      /* line 84, home.scss */
      .headimage .container {
        justify-content: space-between;
        height: 384px;
        margin-top: 48px; } }
  /* line 109, home.scss */
  .headimage .tagline {
    margin-left: 48px;
    font-size: 42;
    font-family: "Varela", sans-serif;
    color: #b60000;
    font-weight: normal;
    text-shadow: -2px -2px 0 #ffffff, -2px -1px 0 #ffffff, -2px 0px 0 #ffffff, -2px 1px 0 #ffffff, -2px 2px 0 #ffffff, -1px -2px 0 #ffffff, -1px -1px 0 #ffffff, -1px 0px 0 #ffffff, -1px 1px 0 #ffffff, -1px 2px 0 #ffffff, 0px -2px 0 #ffffff, 0px -1px 0 #ffffff, 0px 0px 0 #ffffff, 0px 1px 0 #ffffff, 0px 2px 0 #ffffff, 1px -2px 0 #ffffff, 1px -1px 0 #ffffff, 1px 0px 0 #ffffff, 1px 1px 0 #ffffff, 1px 2px 0 #ffffff, 2px -2px 0 #ffffff, 2px -1px 0 #ffffff, 2px 0px 0 #ffffff, 2px 1px 0 #ffffff, 2px 2px 0 #ffffff;
    /*width: $module-relative-size * 7;*/
    line-height: 40px; }
    @media only screen and (max-width: 320px) {
      /* line 109, home.scss */
      .headimage .tagline {
        display: none; } }
    @media only screen and (min-width: 321px) and (max-width: 1023px) {
      /* line 109, home.scss */
      .headimage .tagline {
        display: none; } }

/* line 136, home.scss */
.buttons-headimage {
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9; }
  @media only screen and (max-width: 320px) {
    /* line 136, home.scss */
    .buttons-headimage {
      display: none; } }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    /* line 136, home.scss */
    .buttons-headimage {
      display: none; } }
  @media only screen and (min-width: 1024px) {
    /* line 136, home.scss */
    .buttons-headimage {
      position: absolute; } }
  /* line 155, home.scss */
  .buttons-headimage li {
    float: left;
    margin: 3px; }
  /* line 159, home.scss */
  .buttons-headimage a {
    padding: 6px;
    background: #b60000;
    color: #ffffff !important;
    cursor: pointer;
    background: #b60000;
    display: block;
    border-radius: 12px; }
    /* line 167, home.scss */
    .buttons-headimage a:hover {
      background: #ffffff; }
    /* line 170, home.scss */
    .buttons-headimage a.active {
      background: #fed700; }
  /* line 174, home.scss */
  .buttons-headimage a span {
    display: none; }

@media only screen and (max-width: 320px) {
  /* line 179, home.scss */
  main .container {
    display: block;
    width: 80%;
    margin: auto; } }
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 179, home.scss */
  main .container {
    display: block;
    width: 80%;
    margin: auto; } }
@media only screen and (min-width: 1024px) {
  /* line 179, home.scss */
  main .container {
    display: flex;
    width: 100%;
    justify-content: center; } }

/* line 197, home.scss */
.blog {
  box-sizing: border-box; }

/* line 201, home.scss */
#blog {
    /* limando para teste
    .title{
        @include ts_post_title();
        margin-bottom: $m_1_16;
    }

    .date{
        @include ts_date();
        text-align: right;
        margin-bottom: $module-size / 16;
    }
    .text{
        @include ts_text();
    }
    .image{
        width: $module-size * 2;
        float: left;
        display: inline-block;
        margin: 0 ($module-size /4 ) 0 0;      
    }

    */ }
  @media only screen and (min-width: 1024px) {
    /* line 201, home.scss */
    #blog {
      width: 480px; } }
  /* line 207, home.scss */
  #blog .entry {
    margin-top: 24px;
    margin-bottom: 24px;
    border-bottom-color: #fed700;
    border-bottom-style: solid;
    border-bottom-width: 2px; }
    @media only screen and (min-width: 321px) and (max-width: 1023px) {
      /* line 213, home.scss */
      #blog .entry .image {
        margin-bottom: 24px; } }
  /* line 252, home.scss */
  #blog .date {
    text-align: right; }
  /* line 255, home.scss */
  #blog .comments {
    text-align: right;
    display: block;
    margin-top: 6px; }
    /* line 259, home.scss */
    #blog .comments .number {
      font-family: "Arial";
      line-height: 140%;
      color: white;
      background: #cccccc;
      border-radius: 6px;
      padding: 0 3px;
      display: inline-block;
      margin: 0 6px; }
      @media only screen and (max-width: 320px) {
        /* line 259, home.scss */
        #blog .comments .number {
          font-size: 1em; } }
      @media only screen and (min-width: 321px) and (max-width: 1023px) {
        /* line 259, home.scss */
        #blog .comments .number {
          font-size: 13px; } }
      @media only screen and (min-width: 1024px) {
        /* line 259, home.scss */
        #blog .comments .number {
          font-size: 16px; } }

@media only screen and (max-width: 320px) {
  /* line 265, home.scss */
  #sidebar {
    width: 100%; } }
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 265, home.scss */
  #sidebar {
    width: 100%; } }
@media only screen and (min-width: 1024px) {
  /* line 265, home.scss */
  #sidebar {
    margin-left: 48px; } }

/* line 281, home.scss */
#events {
  /*
  .moreinfo:before{
      content:"MORE INFO:";
      display: block;
      font-weight: Light;
      font-size: $font-size - 2;
  
  }*/ }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    /* line 281, home.scss */
    #events {
      width: 100%; } }
  @media only screen and (min-width: 1024px) {
    /* line 281, home.scss */
    #events {
      width: 240px; } }
  /* line 296, home.scss */
  #events .eventname {
    font-size: 14px;
    font-family: "Arial";
    font-weight: bold;
    color: #333333; }
  /* line 299, home.scss */
  #events .place {
    font-family: "Arial";
    line-height: 140%; }
    @media only screen and (max-width: 320px) {
      /* line 299, home.scss */
      #events .place {
        font-size: 1em; } }
    @media only screen and (min-width: 321px) and (max-width: 1023px) {
      /* line 299, home.scss */
      #events .place {
        font-size: 13px; } }
    @media only screen and (min-width: 1024px) {
      /* line 299, home.scss */
      #events .place {
        font-size: 16px; } }
  /* line 302, home.scss */
  #events .container {
    display: flex;
    justify-content: space-between; }
  /* line 307, home.scss */
  #events .title {
    font-size: 45px;
    font-family: "Varela", sans-serif;
    color: #333333;
    line-height: 45px;
    text-transform: lowercase;
    margin-bottom: 24px; }

/* line 321, home.scss */
#subscribe {
  background: #fefefe; }
  /* line 323, home.scss */
  #subscribe label {
    color: #b60000;
    margin-bottom: 6px;
    display: block; }
  /* line 328, home.scss */
  #subscribe label,
  #subscribe input {
    margin-left: 12px; }
  /* line 332, home.scss */
  #subscribe input {
    padding: 6px;
    box-sizing: border-box;
    font-family: "Arial";
    line-height: 140%; }
    @media only screen and (max-width: 320px) {
      /* line 332, home.scss */
      #subscribe input {
        font-size: 1em; } }
    @media only screen and (min-width: 321px) and (max-width: 1023px) {
      /* line 332, home.scss */
      #subscribe input {
        font-size: 13px; } }
    @media only screen and (min-width: 1024px) {
      /* line 332, home.scss */
      #subscribe input {
        font-size: 16px; } }
    @media only screen and (max-width: 320px) {
      /* line 332, home.scss */
      #subscribe input {
        width: 90%; } }
    @media only screen and (min-width: 321px) and (max-width: 1023px) {
      /* line 332, home.scss */
      #subscribe input {
        width: 90%; } }
    @media only screen and (min-width: 1024px) {
      /* line 332, home.scss */
      #subscribe input {
        width: 174.5454545455px; } }
  /* line 352, home.scss */
  #subscribe .subscribe_return {
    margin: 0 12px; }

/* line 357, home.scss */
aside section {
  padding: 12px 0 24px 0;
  box-sizing: border-box;
  border-bottom-color: #cccccc;
  border-bottom-style: dotted;
  border-bottom-width: 1px; }
