/*
Theme Name:     Free the Falls
Theme URI:      http://freethefalls.ca
Description:    ##
Author:         Fabricio Biron
Author URI:     http://fabriciobiron.com
Template:       kindred
Version:        0.1.0
*/

@import "style";
@include headerStandard("kindred");
main {
    .tagline-container {
        background: $first-color;
        height: $m_1_1 + $m_1_4;
        width: 100%;
        @include align-center();
        clear: both;
        h3.tagline {
            @include myfont($ffont-2, 28, $white-color, normal);
            width: $m_6_1;
            text-align: center;
        }
    }
    .container {
        @include respond-to(hh) {}
        @include respond-to(ms) {
            margin: $m_1_2 auto 0 auto;
        }
        @include respond-to(ws) {
            @include flexbox();
            @include justify-content(space-between);
            margin: $m_1_2 auto 0 auto;
        }
    }
    ul {
        @include respond-to(hh) {}
        @include respond-to(ms) {
            width: 100%;
        }
        @include respond-to(ws) {
            width: 100%;
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
            position: relative;
        }
    }
    ul:nth-child(2) {
        @include respond-to(hh){
            
        }
        
        @include respond-to(ms){
        }
        
        @include respond-to(ws){
            margin: 0 $m_1_2;
        }
       
    }
    li {
        @include respond-to(hh) {}
        @include respond-to(ms) {
            text-align: center;
            margin-bottom: $m_1_4;
            width: 100%;
        }
        @include respond-to(ws) {
            margin-bottom: $m_1_4;
        }
    }
    p {
        text-transform: uppercase;
    }
    a {
        display: block;
        @include hyphenate();
        font-size: 14px !important;
    }
}