/*


///////////////// blog 


*/

#blog .entry{
		display: inline-block;
}




#blog .title{

	margin-top:$module-size /4;
}

.time{
	margin-bottom:$module-size /4;
}



.complement{
	text-align: right;
}

.tags{
	text-align: left;
	margin-top: $module-size/4;
}

.tags:before{
	content:"TAGS: ";
	font-family: $ffont-1;
	font-size: $font-size +2;
	text-transform: uppercase;
}

.tags li{
	display: inline-block;
	list-style: none;
}

.tags li:after{
	content:",  ";
}

.tags li a{
	text-transform: lowercase;
}

.blog .image{
	max-width: 100%;
}

.imagelegend{
	margin-top: $module-size/12;
	margin-bottom: $module-size/12;

}

.comments{
	box-sizing: border-box;
	background: $light-grey;
	margin-top: $module-size/4;
	border-bottom-color: $second-color;
	border-bottom-style: solid;
	border-bottom-width: 2px;	
}

.comments > .link:nth-of-type(1) {
	display: block;
	text-align: right;
	height: $module-size /4 + ($module-size /4)/2;
	@include border-bottom-dotted();
	border-right-color: $middle-grey;
	border-right-style: solid;
	border-right-width: 4px;
	padding-right: $module-size /8;
	padding-top: $module-size /12;
	box-sizing: border-box;
}

.comment > .link {
	display: block;
	margin-top: $module-size/4;
	text-align: right;

}

.comments .link span {
	background: $middle-grey;
	display: inline-block;
	border-radius: 5px;
	padding: 1px 5px;
	color:$dark-grey;
}

.comment{
	margin: $module-size/4;
}

.smalltime{
	font-family: $ffont-1;
	font-size: $font-size - 2px;
	text-transform: uppercase;
	font-weight: light;
}

.showmore{
	background: url(arrow-down.svg) no-repeat;
	width: $module-size/4;
	height: $module-size/4;
	cursor: pointer;
	position: relative;
	margin-left: 50%;
	margin-right: -510px;
	transform: translate(-50%, -50%);
}
.showmore span{
	display: none;
}

/*


///////////////// event 


*/

/*


///////////////// sidebar 


*/



.sidebar .title{
	margin-bottom: $module-size/8;
}

.sidebar .image{ 
	max-width: 100%;
}

.sidebar .text{
	margin-top: $module-size/12;
}

.sidebar .link{
	float: right;
}








@media all and (min-width: 360px){

	main{	
		width: 100%;
		/*background-color: yellow;*/
	}

	.blog{
		display: block;
		margin-left: $module-relative-size * 0.5;
		margin-right: $module-relative-size * 0.5 ;			
	}
	.sidebar{
		display: block;
		margin-left: $module-relative-size * 0.5;
		margin-right: $module-relative-size * 0.5 ;		
	}
}

@media all and (min-width: 960px){
	main{	
		width: 100%;

		display: -webkit-flex;
    	display: flex;
        -webkit-justify-content: center;
   	    justify-content: center;
   	/*    background-color: red; 	*/	
	}
	.blog{
		width: $module-relative-size * 5;
		margin-left: $module-relative-size * 2 ;
	
	}
	.sidebar{
		width: $module-relative-size * 2.5;
		margin-left: $module-relative-size * 0.5;
		margin-right: $module-relative-size * 2 ;
	}

}

@media all and (min-width: 1152px) {
	main{	
		width: $module-size * 12;
   	    background-color: lightgrey;
   	    position: relative;
   	    display: block;
/*   	    display: block; */
	}
	.blog{
		width: $module-size * 5;
		margin-left: $module-size * 2;
		margin-right: 0px;
		display: inline-block;
	}
	.sidebar{
		width: $module-size * 2.5;
		margin-left: $module-size / 2; 
		margin-right: 0px;
		display: inline-block;

	}

}






