@import "style";
@include headerStandard("resources", "small");
main {
    .container {
        @include respond-to(hh) {}
        @include respond-to(ms) {
            margin: $m_1_4 auto 0 auto;
        }
        @include respond-to(ws) {
            margin: $m_1_1 auto 0 auto;
        }
    }
    @include respond-to(hh) {}
    @include respond-to(ms) {
        .menu-resources-container {
            ul {
                margin-top: $m_1_4;
                li {
                    height: $m_1_4;
                    text-align: center;
                    span.count {
                        @include bulletCounter();
                    }
                }
            }
        }
    }
    @include respond-to(ws) {
        .menu-resources-container {
            ul {
                width: 50%;
                position: absolute;
                right: 50%;
                top: $m_3_1;
                text-align: right;
                li {
                    display: inline-block;
                    height: $m_1_2;
                    &:hover {
                        border-bottom: 2px solid $middle-grey;
                    }
                    a {
                        height: $m_1_2;
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        color: $dark-grey;
                        font-weight: 600;
                        text-decoration: none;
                        &.active {
                            color: $first-color;
                            border-bottom: 2px solid $first-color;
                        }
                        span.count {
                            @include bulletCounter();
                        }
                    }
                } //end li
            } //end ul
        }
    } // end respond-to ws
    .subpage-title {
        margin-bottom: $m_1_4;
    }
    .list {
        clear: both;
        margin-bottom: $m_1_4;
        .title {
            @include ts_list_article_title();
        }
        a {
            text-decoration: none;
            .title {
                color: $black-color;
            }
            .title:hover {
                color: $first-color;
            }
        }
        img {
            float: left;
            margin-right: $m_1_8;
        }
        .text,
        .date,
        .title {
            margin: 0;
        }
    }
    .comments-area {
        background: $almost-white;
        .header {
            text-align: right;
            padding: $m_1_8;
            box-sizing: border-box;
            p {
                color: $first-color;
            }
            .counter {
                @include bulletCounter();
            }
        }
        .comment-list {
            @include solid-border();
            margin-bottom: $m_1_4;
            li {
                @include border-bottom-dotted();
                padding: $m_1_4;
            }
            .comment-author {
                img {
                    display: none;
                }
                cite {
                    @include ts_text();
                    font-weight: bold;
                }
            }
            .comment-meta a {
                @include ts_label();
            }
            p {
                @include ts_text();
                margin-top: $m_1_4;
            }
            .reply {
                text-align: right;
                @include ts_text();
            }
        }
        .comment-respond {
            padding: $m_1_4;
            box-sizing: border-box;
            .comment-reply-title {
                @include ts_text();
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
}