/*
Theme Name:     Free the Falls
Theme URI:      http://freethefalls.ca
Description:    ##
Author:         Fabricio Biron
Author URI:     http://fabriciobiron.com
Template:       vision
Version:        0.1.0
*/

@import "style";


@include headerStandard("thevision");  
  
 

main{
    .container{

        @include respond-to(hh){}
        @include respond-to(ms){

        }
        @include respond-to(ws){
            display: flex;
            justify-content: space-between;
            margin:$m_1_2 auto 0 auto;               
        }


    }

    div{

        @include respond-to(hh){
            width: 100%;
        }
        @include respond-to(ms){
            width: 100%;
        }
        @include respond-to(ws){
            width: $m_2_1 + $m_1_2;
        }
        

        h3,h3 a{
            text-transform: lowercase;
            color: $first-color;
            text-align: left;
        }

        img{
            @include respond-to(hh){
                width:100%;
                height: auto;
            }
            @include respond-to(ms){
                width: 100%;
                height: auto;
            }
            @include respond-to(ws){
                width: $m_2_1 + $m_1_2;
                margin:$m_1_4 0;
            }

             
        }
    }

    ul{
        width: $m_2_1 + $m_1_4;
    }

    ul:nth-child(2){
        margin: 0 $m_1_2;
    }

    li{
        margin-bottom: $m_1_4;
    }


    a{
        display: block;
         @include hyphenate();
         text-align: right;
    }

     


}