/*
Theme Name:     Free the Falls
Theme URI:      http://freethefalls.ca
Description:    ##
Author:         Fabricio Biron
Author URI:     http://fabriciobiron.com
Template:       vision
Version:        0.1.0
*/

@import "style";
@include headerStandard("thevision");
main {
    .container {
        margin: $m_1_2 auto 0 auto;
        .img {
            @include respond-to(hh) {}
            @include respond-to(ms) {
                display: block;
                width: 100%;
            }
            @include respond-to(ws) {
                @include calc(width, '50%');
                top: $m_4_1;
                left: 50%;
                overflow: hidden;
                //height:$m_3_1;
                position: absolute;
                //   background: red;
                img {
                    width: 100%;
                    height: auto;
                }
            } //end respond-to ws
        } //end .img
        p:nth-child(-n+3) {
            @include respond-to(hh) {}
            @include respond-to(ms) {}
            @include respond-to(ws) {
                display: block;
                box-sizing: border-box;
                padding-right: $m_1_4;
                width: $m_4_1;
            }
        }
        cite {
            font-style: normal;
            margin-left: $m_1_1;
            display: block;
            margin-bottom: $m_1_2;
        }
    } // end  .container
} // end main