/*
Theme Name:     Free the Falls
Theme URI:      http://freethefalls.ca
Description:    ##
Author:         Fabricio Biron
Author URI:     http://fabriciobiron.com
Template:       vision
Version:        0.1.0
*/

@import "style"; 

@include headerStandard("thevision");  



main{
    .container{
    
        margin:$m_1_2 auto 0 auto;    

        .img{
            @include calc(width,'50%');
            top:$m_4_1;
            left:50%;
            overflow: hidden;
            height:$m_3_1;
            position: absolute;            
            background: red;
            

            img{

            }
            
        } //end .img


    } // end  .container
}// end main