@import "style";
@include headerStandard("thevision");
main {
    .tagline-container {
        height: auto;
        width: 100%;
        @include align-center();
        clear: both;
        h3.tagline {
            @include ts_post_title();
            text-align: center;
            @include respond-to(hh) {}
            @include respond-to(ms) {
                width: 80%;
                margin: $m_1_2 0;
            }
            @include respond-to(ws) {
                width: $m_8_1;
                margin: $m_1_4 0;
            }
        }
    }
    .container {
        @include respond-to(hh) {}
        @include respond-to(ms) {}
        @include respond-to(ws) {
            @include align-center();
            margin: $m_1_2 auto 0 auto;
        }
    }
    .engage {
        @include respond-to(hh) {}
        @include respond-to(ms) {
            width: 100%;
        }
        @include respond-to(ws) {
            width: $m_4_1 + $m_1_2;
        }
        h4 {
            @include ts_label();
            margin-bottom: $m_1_4;
        }
        li {
            @include flexbox();
            background: $light-grey;
            margin-bottom: $m_1_4;
            span {
                width: $m_1_2;
                height: $m_1_2;
                @include myfont($ffont-1, 18, $first-color, normal);
                @include align-center();
            }
            div {
                width: 100%;
                @include flexbox();
                @include align-items(center);
                @include justify-content(center);
                height: $m_1_2;
                p {
                    @include myfont($ffont-1, 13, $black-color, 400);
                    width: 100%;
                    padding-left: 10px;
                    text-align: left;
                    font-style: italic;
                    margin: 0;
                    a {
                        font-size: inherit;
                    }
                }
            }
            // height: $m_1_2;
            // background: $light-grey;
            // margin-bottom: $m_1_4;
            // text-align: left;
            // span {
            //     width: $m_1_2;
            //     height: $m_1_2;
            //     @include myfont($ffont-1, 18, $first-color, normal);
            //     @include align-center();
            //     float: left;
            // }
            // p {
            //     @include myfont($ffont-1, 13, $black-color, 400);
            //     font-style: italic;
            //     // @include align-center();
            //     // justify-content: flex-start;
            //     text-align: left;
            //     line-height: 120%;
            //     height: $m_1_2;
            // }
        }
    }
    .donate {
        @include respond-to(hh) {}
        @include respond-to(ms) {
            width: 100%;
        }
        @include respond-to(ws) {
            width: $m_3_1;
            margin-left: $m_1_2;
        }
        background: $second-color;
        box-sizing: border-box;
        padding:$m_1_4;
        h4 {
            @include ts_post_title();
        }
    }
}